<div class="modal-content">
    <div class="modal-header">
        <h3>
            Dodaj sprzedaż klienta
        </h3>
    </div>
    <div class="modal-body" title="Dodaj sprzedaż klienta">
        <form id="frmUpdateAccount" method="POST" action="/api/clients/update_account">
            <div class="dialogerrors"></div>
            <div class="form-group col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="faktura" placeholder="Numer faktury">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="importFV()">Importuj fakturę</button>
                  </span>
                </div>
            </div>
            <input type="hidden" name="Id" id="Id" ng-model="fv.Id" class="form-control">
            <input type="hidden" name="Id_programu" id="Id_programu" ng-model="fv.Id_programu" class="form-control">
            <input type="hidden" name="Id_klienta" id="Id_klienta" ng-model="fv.Id_klienta" class="form-control">
            <div class="form-group col-xs-6">
                <label for="data_kwota">Kwota</label>
                <input type="number" id="data_kwota" name="data_Kwota" ng-model="fv.Kwota" class="form-control">
            </div>

            <div class="form-group col-xs-6">
                <label for="data_data">Data</label>
                <input id="data_data" name="data_Data" ng-model="fv.Data" class="form-control datepicker">
            </div>
            <div class="form-group col-xs-12">
                <label for="data_opis">Opis zakupu (np. nr faktury)</label>
                <textarea id="data_opis" rows="3" name="data_Opis" ng-model="fv.Opis" ng-required="1" class="form-control"></textarea>
            </div>
            <div class="form-group col-xs-12">
                <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                    <input type="checkbox" ng-model="fv.Zatwierdzone" name="data_Zatwierdzone" id="data_Zatwierdzone">
                    <label class="noselect" for='data_Zatwierdzone'>Zatwierdzone</label>
                </div>
            </div>
            <h4>Punkty</h4>
            <div class="form-group col-xs-12" style="margin-bottom: 20px">
                <label for="data_ilosc">{{client.Nazwa}}</label>
                <input type="number" id="data_ilosc" name="data_Ilosc" ng-model="fv.Punkty" class="form-control">
            </div>
            <div ng-repeat="client in polecajacy.slice().reverse()">
                <div class="form-group col-xs-12" style="margin-bottom: 20px">
                    <label for="data_ilosc1">Polecający {{convertToRoman($index + 1)}} stopnia: {{client[0].Nazwa}}</label>
                    <input type="number" ng-model="client[0].Punkty" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="updateAccount()">Zapisz</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Zamknij</button>
    </div>
</div>

<style>
    .datepicker {
        z-index: 100000 !important
    }
</style>
<script>
    $('.datepicker').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $('.inputmask').inputmask({
        mask: '999999999.99'
    })
</script>