<div class="container" ng-controller="PanelCtrl">
    <h1>Numer karty: {{client.Numer}}
    </h1>
    <div ng-if="client.Aktywacja_uzytkownika">
        <h3>{{client.Imie}} {{client.Nazwisko}}</h3>
        <h4>{{client.Telefon ? 'tel. ' + client.Telefon : ''}}</h4>
        <h4>{{client.Adres}}</h4>
        <h4>{{client.Email || 'Brak adresu email'}}</h4>
    </div>
    <div ng-if="!client.Aktywacja_uzytkownika">Klient niezarejestrowany</div>
    <h4 ng-repeat="klient in polecajacy.slice().reverse()">Polecający {{convertToRoman($index + 1)}} stopnia: {{klient[0].Nazwisko}} {{klient[0].Imie}}</h4>
    <div class="form-group">
        <button ng-click="showAddDocument()" class="btn btn-success">Dodaj dokument</button>
    </div>
    <br>
    <div>
        <table id="program_client_table" class="data-table">
            <thead>
                <tr>
                    <th class="col-xs-1">Polecony</th>
                    <th class="col-xs-2">Data</th>
                    <th class="col-xs-4">Opis</th>
                    <th class="col-xs-2 sum">Wartość</th>
                    <th class="col-xs-2 sum">Punkty</th>
                    <th class="col-xs-1">Zatwierdzone</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="text-align: right">Suma: </th>
                    <th>zł</th>
                    <th>bPLN</th>
                </tr>
            </tfoot>
        </table>
        <script src='/scripts/programclient.js'></script>
    </div>


</div>