<div class="container" ng-controller="ClientsCtrl">
    <h1>Lista dostępnych kart</h1>
    <div class="errors"></div>
    <form role="form">
        <div class="form-group" ng-mouseover="Code_amount_visible = true" ng-mouseleave="Code_amount_visible = false">
            <div class="input-group inline">
                <button class="btn btn-info">Generuj kody</button>
            </div>
            <div class="input-group inline">
                <input type="number" id="code_amount" placeholder="Ilość kodów" ng-if="Code_amount_visible" ng-model="model.amount">
            </div>
            <div class="input-group inline">
                <button ng-if="Code_amount_visible" ng-click="GenerateCodes()" class="btn btn-info">Generuj</button>
            </div>
        </div>
    </form>
    <table id="client_table" class="data-table">
        <thead>
            <tr>
                <th class="col-xs-2">Numer</th>
                <th class="width-100">Data aktywacji</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <script src='/scripts/client.js'></script>
    </table>
</div>