<div class="container" ng-controller="ClientsCtrl">
    <h1>Edycja klienta</h1>
    <div class="infos"></div>
    <div class="errors"></div>
    <form role="form">
        <input type="hidden" ng-value="clientId">
        <div class="form-group">
            <label for="clientName">Nazwa</label>
            <div angucomplete-alt id="clientName" maxlength="50" pause="100" selected-object="afterSelectClient" local-data="clients" search-fields="Nazwa" title-field="Nazwa" minlength="1" input-class="form-control form-control-small" match-class="highlight"></div>
        </div>
        <div class="form-group">
            <label for="clientEmail">Email</label>
            <input type="email" id="clientEmail" ng-model="clientEmail" class="form-control">
        </div>
        <div class="form-group">
            <label for="clientParent">Polecający</label><br>
            <select class="selectpicker" data-size='10' id="clientParent" data-none-selected-text='' data-live-search='true' ng-model='clientParent'>
                    <option ng-repeat="person in persons"  value="{{person.Id}}">{{person.Nazwa}}, {{person.Email}}</option>
                    </select>
        </div>
        <div class="form-group pull-left">
            <div class="input-group">
                <button ng-click="update()" class="btn btn-info">Zapisz</button>
            </div>
        </div>
        <div ng-if="clientId" class="form-group pull-left my-button">
            <div class="input-group">
                <button ng-click="resetpassword()" class="btn btn-info">Resetuj hasło</button>
            </div>
        </div>
    </form>
</div>