<div class="container">
    <h1>Lista zamówień</h1>
    <div class="errors"></div>
    <table id="order_table" class="data-table">
        <thead>
            <tr>
                <th class="col-xs-1">Numer</th>
                <th class="col-xs-2">Klient</th>
                <th class="col-xs-2">Nagroda</th>
                <th class="col-xs-2">Adres</th>
                <th class="col-xs-2">Wiadomość</th>
                <th class="col-xs-2">Data zamówienia</th>
                <th class="col-xs-2">Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <script src='/scripts/order-admin.js'></script>
    </table>
</div>