.tasks-row .col-xs-2, .tasks-row .col-xs-3, .tasks-row .col-xs-4 {
  padding-left: 3px;
  padding-right: 3px;
}
/* .day.old, .day.new {
  color: #666;
} */
.task-option {
  width: 20px;
  margin-left: 5px;
  color: red;
  cursor: pointer;
}
.panel a, .panel a:hover {
  color: #337ab7;
}
.panel p {
  cursor: pointer;
}
.add_task {
  margin-top: 5px;
  width: 100%;
}
.platnosci-lista li.todo div.task-text:before {
    content: "•";
    font-family: FontAwesome;
    margin-right: 4px;
    margin-left: 10px;
}
.platnosci-lista li.done div.task-text:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: limegreen; /* or whatever color you prefer */
    margin-right: 4px;
}
.platnosci-lista {
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 0px;

}
.platnosci-lista li {
  display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.platnosci-lista::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d9edf7;
}

.platnosci-lista::-webkit-scrollbar
{
	width: 12px;
	background-color: #d9edf7;
}

.platnosci-lista::-webkit-scrollbar-thumb
{
	background-color: #337ab7;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
