@import url(prize.css);
/* .client-login-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
} */
.client-header img{
    width: 70px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container h1{
    margin: 0;
    padding-left: 10px;
}
.client-link{
    line-height: 50px;
    text-align: center;
}
.client-adres{
    height: 145px !important;
}
.client-large-button{
    width: 100%;
    height: 100px;
}
.client-header{
    padding: 20px;
    font-size: 24px;
    font-family: "Century Gothic";
    color: #6e6e6e;
    display: flex !important;
    justify-content: start;
    align-items: center;
}
.client-header-program{
    max-width: 300px;
    display: inline-block;
    padding-left:20px; 
    font-weight: normal;
}
.client-header.small{
    padding: 0;
    padding-left: 10px;
    color: white;
}
.client-header.small .client-header-program{
    font-size: 18px;
}
.client-header img{
    display: inline-block;
}
.client-login-form{
    text-align: left;
}
.client-prizes{
    margin-top: 20px;
    margin-bottom: 20px;
}