.form-container {
  background-color: #2884c9;
  /*background-image: url(../images/fv-pattern15.png);*/
  background-image: url(../images/fv_background.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  padding: 3% 0;
}
.submit-button {
  background-color: #135784;
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 3px;
}
.form a {
  color: white;
  font-size: 12px;
}
/*.login-form .form-control {
  padding: 18px 12px;
}*/
.form-group {
  margin-top: 25px;
  margin-bottom: 0px;
}
.form-group .text-input {
  min-width: 300px;
  /*padding: 25px 15px;*/
  height: 50px;
  line-height: 40px;
}
.content {
  background-color: white;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.form h4 {
  margin-bottom: -10px;
}
.info-container h2 {
  color: #2884c9;
}
.info-container h4 {
  color: #2884c9;
  text-transform: uppercase;
}
.info-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  margin: 0;
}
.info-container p, ol, ul {
  font-size: 12px;
  text-align: justify;
}
