
body {
  background-color: #135784;
}
.form-container {
  background-color: #1d8ed4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 3% 0;
}
.submit-button {
  background-color: #135784;
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 3px;
}
.form a {
  color: white;
  font-size: 12px;
}
/*.login-form .form-control {
  padding: 18px 12px;
}*/
.form-group {
  margin-top: 25px;
}
.form-group .text-input {
  min-width: 250px;
  padding: 25px 15px;
}
.content {
  background-color: white;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.form h4 {
  margin-bottom: -10px;
}
.info-container h2 {
  color: #1d8ed4;
}
.info-container h4 {
  color: #1d8ed4;
  text-transform: uppercase;
}
.info-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  margin: 0;
  min-height: 400px;
}
.info-container p {
  font-size: 12px;
}
