input[type="password"] {
    min-width: 300px;
}

.email-history-table>tbody>tr>td {
    padding: 2px 4px;
    line-height: 1;
    border-top: none;
}

.child-row {
    color: #9d9d9d;
}

#table-all-users>thead>tr>th {
    border-bottom: none;
}

#table-all-users>tbody>tr>td,
#table-all-users>tbody>tr>th,
#table-all-users>tfoot>tr>td,
#table-all-users>tfoot>tr>th,
#table-all-users>thead>tr>td,
#table-all-users>thead>tr>th {
    border-top: none;
}

.tasks .panel {
    margin-right: 8px;
}

.tasks {
    max-height: 320px;
    padding-top: 10px;
    overflow-y: scroll;
    margin-right: -15px;
    margin-left: -15px;
}

.tasks::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d9edf7;
}

.tasks::-webkit-scrollbar {
    width: 12px;
    background-color: #d9edf7;
}

.tasks::-webkit-scrollbar-thumb {
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.nav-tabs img {
    height: 23px;
}

.container ul.nav-pills,
.container .tab-content {
    margin-top: 25px;
    margin-bottom: 50px;
}

.container ul.nav {
    font-size: 18px;
}

.container {
    margin-bottom: 40px;
    /* padding: 20px 70px; */
}

.popover.bottom>.arrow {
    border-bottom: none;
}

.toggle-icon {
    display: none;
}

#months button {
    /*width: 80px;*/
    background-color: white;
    /*border: solid 2px white;*/
    /*height: 40px;*/
    /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}

#years button {
    /*min-width: 115px;*/
    background-color: white;
    /*border: solid 2px white;*/
    /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}

#years .badge,
#months .badge {
    background-color: #848484;
}

#years button.active {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*border-bottom: solid #135784 4px;*/
    /*background-color: #2884c9;*/
    /*border-bottom: solid #9d9d9d 3px;*/
}

#months button.active {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*border-bottom: solid #135784 4px;*/
    /*background-color: #2884c9;*/
}

.dataTables_filter {
    text-align: left !important;
}

.dataTables_filter input {
    width: 100% !important;
}

.client-type {
    color: #9d9d9d;
}


/* .right-panel {
  width: 20%;
  text-align: right;
  display: inline-block;
} */

.new-invoice-container {
    margin: 30px;
}

.ui-dialog-titlebar {
    color: white;
    background-color: #135784;
}

.ui-datepicker-header {
    color: white;
    background-color: #135784;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    color: white;
}

.main-branch a {
    font-size: 20px !important;
    color: white;
}

.overdue,
.not-active-account {
    background-color: red !important;
    /*font-weight: bold;*/
    font-size: 17px !important;
    text-align: center;
    color: white;
    width: 100px;
}

.paid,
.active-account {
    background-color: #55ab12 !important;
    /*font-weight: bold;*/
    /* font-size: 17px !important; */
    text-align: center;
    color: white;
    /* width: 100px; */
}

.not-overdue {
    /*background-color: #55ab12 !important;*/
    color: black;
}

.due-today {
    background-color: #b4d8f0 !important;
    /*font-weight: bold;*/
}

.due-soon {
    background-color: #82bdf7 !important;
}

div.slider {
    display: none;
}

.pagination>li>a {
    margin: 2px;
    border-radius: 4px;
    color: black;
}

.pagination>.active>a {
    background-color: #135784;
}

.slider td {
    font-size: 13px;
    min-height: 50px;
    background-color: white !important;
    padding: 5px !important;
}

.slider a {
    color: #9d9d9d !important;
}

h1 {
    color: #2884c9;
}

.no-padding {
    background-color: white !important;
    padding: 0 !important;
}

.data-table .shown td {
    background-color: #b1e1ff;
    /*#b1e1ff*/
}

.data-table th {
    text-transform: uppercase;
    color: #9d9d9d;
    /*font-weight: bold;*/
    font-size: 15px;
    border: solid 3px white;
    padding: 0 5px;
}

.data-table td {
    font-size: 15px;
    padding: 15px;
    min-height: 50px;
    background-color: #e1f2fc;
    border: solid 3px white;
}

.data-table {
    width: 100%;
}

#banks_table,
#counting_table {
    border-collapse: separate;
}

#banks_table,
#counting_table,
#branches_table .child-row td {
    background-color: white;
    padding: 15px;
}

#banks_table,
#counting_table,
#branches_table .child-row td {
    border: 0px;
}

.edit_bank,
.remove_bank,
.edit_counting,
.delete_counting,
.set_default_counting,
.choose_branch,
.edit_user,
.delete_user,
.edit_user_branches {
    display: inline-block;
    margin-left: 60px;
    margin-right: 15px;
    color: #9d9d9d;
    cursor: pointer;
    text-transform: lowercase;
    padding: 15px;
}

.data-table>tbody>tr:not(.shown)+tr.child-row>td {
    border: none;
}

.child-table {
    /* width: 50%; */
    float: right;
}

.child-table img,
.child-row img {
    width: 25px;
    height: 25px;
}

.child-table td,
.child-row td {
    background-color: white;
}

.child-table td {
    text-align: right;
    color: #9d9d9d;
    font-size: 17px;
}

.child-table td span,
.child-table td img {
    cursor: pointer;
}

.page-name {
    color: #2884c9;
    margin-bottom: 25px;
    border-bottom: solid 1px #cfddf5;
    padding-bottom: 7px;
}

.fixed-navbar {
    position: fixed;
    height: 90px;
    background-color: #135784;
    color: white;
    font-weight: bold;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.navbar {
    border: none;
}

.navbar-header {
    min-width: 25%;
}

.navbar-brand {
    height: auto;
    line-height: normal;
    width: 100%;
    display: flex;
    align-items: center;
}

.user-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c8e4d;
    background-color: var(--dark-color);
    border-right: solid 1px white;
    /* float: left; */
    width: 300px;
    /* min-width: 25%; */
    height: 90px;
    /* overflow: hidden; */
    /* justify-content: center; */
}

.container-fluid {
    padding: 0;
    background-color: #569e56;
    background-color: var(--button-color);
}

.menu-navbar {
    /*width: 100%;*/
    height: 90px;
    /*border: solid white 1px;*/
    /* min-width: 70%;
max-width: 75%; */
    /* position: relative;
float: left; */
}

.menu-navbar>ul {
    /* display: inline; */
}

.menu-navbar ul,
.company ul {
    list-style-type: none;
    padding: 0;
    /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#user_branches .active>a {
    background-color: white !important;
    color: #2884c9 !important;
}

.navbar-collapse>ul>li {
    /* display: inline-block; */
    /* width: 20%; */
    /*min-width: 250px;*/
    /* line-height: 90px;
  height: 90px; */
    text-align: center;
    text-transform: lowercase;
}

#collapsible-menu {
    background-color: #2c6d2d;
    background-color: var(--dark-color-active);
    font-weight: 400;
}
.btn-info{
    background-color: #569e56;
    background-color: var(--button-color);
    border-color: #4b804b;
    border-color: var(--button-border-color);
}
.btn-info:active, .btn-info:hover, .btn-info:focus{
    background-color: #437b43 !important;
    background-color: var(--button-color-active) !important;
    border-color: #306130 !important;
    border-color: var(--button-border-color-active) !important;
}
#collapsible-menu>ul:not(.navbar-right)>li {
    height: 90px;
    width: 200px;
}

.navbar-right>li {
    height: 90px;
}

#collapsible-menu>ul>li>a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar-container {
    border-radius: 50%;
    /* border: solid white 2px; */
    padding: 8px;
}

.navbar-right .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px white solid;
}

.settings {
    position: absolute;
    bottom: 5px;
    right: 0;
    '

}

.company a {
    color: white !important;
    /*text-align: center;*/
    /*font-size: 22px;*/
    display: block;
    height: 100%;
    width: 100%;
}

.navbar-collapse .dropdown.open a {
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
}

.navbar-collapse>ul>li>a {
    color: white !important;
    font-size: 22px;
    display: block;
    height: 100%;
    width: 100%;
}

.navbar-collapse ul li a:hover {
    /* color: #abeffd !important; */
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
}

.company ul li a:hover {
    color: #abeffd !important;
}

.navbar-collapse .dropdown-menu {
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
}

.company .dropdown-menu {
    background-color: #2c6d2d;
    background-color: var(--dark-color-active);
}

.company .dropdown-menu>li>a {
    background-color: #2c6d2d;
    background-color: var(--dark-color-active);
    font-size: 18px;
    color: white;
    padding: 10px;
}

.navbar-collapse .dropdown-menu>li>a {
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
    font-size: 18px;
    color: white;
    border-bottom: white 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar-collapse .dropdown-menu>li:last-child>a {
    border: none;
}

.icon-container {
    float: left;
    padding: 8px;
    border: solid white 2px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 12px;
}

.icon-container img {
    width: 45px;
    height: 45px;
}
.navbar-collapse .dropdown-menu>li>a {
    background-color: #4c8e4d !important;
    background-color: var(--dark-color);
    font-size: 18px;
    color: white;
    border-bottom: white 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
}
.name-container .name {
    white-space: nowrap;
    font-size: 20px;
    width: 100%;
    color: white;
    /* width: 200px; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.name-container .company {
    white-space: nowrap;
    font-size: 15px;
    font-weight: lighter;
    width: 100%;
    /* text-overflow: ellipsis;
  overflow: hidden; */
}

.name-container a.dropdown-toggle {
    text-overflow: ellipsis;
    overflow: hidden;
}

.name-container {
    width: 60%;
    float: left;
    /* margin-right: 30px; */
}

.company a {
    color: white;
}

label {
    margin-bottom: 0px;
    /*font-weight: lighter;*/
}

label+p {
    color: #135784;
    font-size: 20px;
}

.toggle-icon {
    color: white;
}

.icon-bar {
    background-color: white;
}

@media screen and (max-width: 1325px) {
    #collapsible-menu>ul:not(.navbar-right)>li {
        height: 90px;
        width: auto;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-collapse>ul>li>a,
    .navbar-right span {
        font-size: 18px;
    }
    .menu-navbar>ul>li {
        /* width:15%; */
    }
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0 10px;
    }
    .navbar-default .navbar-toggle {
        border-color: white;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #2c6d2d;
        background-color: var(--dark-color-active);
    }
    .settings {
        bottom: 26px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-left: 30px;
    }
    .navbar-collapse li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbar-collapse .dropdown-menu>li>a {
        /* width: 50%; */
        font-size: 15px;
        padding: 5px;
        border-bottom: none;
        border-bottom: white 2px solid;
    }
    .navbar-collapse ul>li>a {
        border-bottom: white 2px solid;
        /* width: 50%; */
    }
    .navbar-right>li>a {
        border-bottom: none !important;
    }
    .navbar-right>li {
        display: inline-block;
    }
    .navbar-collapse .dropdown-menu>li:last-child>a {
        /* border: none; */
    }
    .navbar-collapse>ul>li>a,
    .navbar-right span {
        font-size: 16px;
    }
    .menu-navbar>ul>li {
        /* width:15%; */
    }
    #collapsible-menu {
        width: 50%;
        position: absolute;
        right: 0px;
    }
    #collapsible-menu>ul>li {
        height: auto;
    }
    #collapsible-menu>ul:not(.navbar-right)>li {
        height: auto;
    }
    #collapsible-menu>ul.navbar-right>li {
        height: auto;
    }
    #collapsible-menu>ul>li>a {
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .user-navbar {
        border: none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.menu-navbar.responsive {
    /* position: relative; */
}


/* .toggle-icon {
    position:absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    color: white;
    font-size: 30px;
  }
  .toggle-icon:hover {
    color: white;
  }
  .toggle-icon:visited {
    color: white;
  }
  .menu-navbar.responsive>ul>li {
    display: block;
    line-height: 50px;
    height: 50px;
    width: 50%;
  }
  .menu-navbar.responsive>ul>li:first-child {
    margin-top: 90px;
  }
  .menu-navbar.responsive>ul>li>ul.dropdown-menu {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 200px;
    left: auto;
  }
  .user-navbar {
    min-width: 40%;
  }
  .menu-navbar {
    min-width: 60%;
  }

  .menu-navbar.responsive>ul {
    text-align: right;
  }
  .menu-navbar.responsive>ul>li>a {
    background-color: #135784;
  }
  .menu-navbar>ul>li {
    display: none;
  } */


}