.container {
  width: 100%;
  margin-top: 20px;
  padding: 0 70px;
}
.toggle-icon {
  display: none;
}
#months button {
  /*width: 80px;*/
  background-color: white;
  /*border: solid 2px white;*/
  /*height: 40px;*/
  /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}
#years button {
  /*min-width: 115px;*/
  background-color: white;
  /*border: solid 2px white;*/
  /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}
#years .badge, #months .badge {
  background-color: #848484;
}
#years button.active {
  background-color: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
  /*border-bottom: solid #135784 4px;*/
  /*background-color: #2884c9;*/
  /*border-bottom: solid #9d9d9d 3px;*/
}
#months button.active {
  background-color: #efefef;
  -webkit-box-shadow: none;
  box-shadow: none;
  /*border-bottom: solid #135784 4px;*/
  /*background-color: #2884c9;*/
}
.dataTables_filter {
  text-align: left !important;
}
.dataTables_filter input {
  width: 100% !important;
}
.client-type {
  color: #9d9d9d;
}
.right-panel {
  width: 20%;
  text-align: right;
  display: inline-block;
}
.new-invoice-container {
  margin: 30px;
}
.ui-dialog-titlebar {
  color: white;
  background-color: #135784;
}
.ui-datepicker-header {
  color: white;
  background-color: #135784;
}
.ui-datepicker-prev, .ui-datepicker-next {
  color: white;
}
.main-branch a {
  font-size: 20px !important;
  color: white;
}
.overdue, .not-active-account{
  background-color: red !important;
  /*font-weight: bold;*/
  font-size: 17px !important;
  text-align: center;
  color: white;
  width: 100px;
}
.paid, .active-account {
  background-color: #55ab12 !important;
  /*font-weight: bold;*/
  font-size: 17px !important;
  text-align: center;
  color: white;
  width: 100px;
}
.not-overdue {
  /*background-color: #55ab12 !important;*/
  color: black;
}
.due-today {
  background-color: #b4d8f0 !important;
  /*font-weight: bold;*/
}
.due-soon {
  background-color: #82bdf7 !important;
}
div.slider {
  display: none;
}
.pagination>li>a {
  margin: 2px;
  border-radius: 4px;
  color: black;
}
.pagination>.active>a {
  background-color: #135784;
}
.slider td {
  font-size: 13px;
  min-height: 50px;
  background-color: white !important;
  padding: 5px !important;
}
.slider a {
  color: #9d9d9d !important;
}
h1 {
  color: #2884c9;
}
.no-padding {
  background-color: white !important;
  padding: 0 !important;
}
.data-table .shown td{
  background-color: #b1e1ff;
  /*#b1e1ff*/
}
.data-table th{
text-transform: uppercase;
color: #9d9d9d;
/*font-weight: bold;*/
font-size: 15px;
border: solid 3px white;
padding: 0 5px;
}
.data-table td {
font-size: 15px;
padding: 15px;
min-height: 50px;
background-color: #e1f2fc;
border: solid 3px white;
}
.data-table {
  width: 100%;
}
#banks_table, #counting_table {
  border-collapse: separate;
}
#banks_table, #counting_table, #branches_table .child-row td{
  background-color: white;
  padding: 15px;
}
#banks_table, #counting_table, #branches_table .child-row td {
  border: 0px;
}
.edit_bank, .remove_bank, .edit_counting, .delete_counting, .set_default_counting,
.choose_branch {
  display: inline-block;
  margin-left: 60px;
  margin-right: 15px;
  color: #9d9d9d;
  cursor: pointer;
  text-transform: lowercase;
  padding: 15px;
}
.child-table {
  width: 50%;
  float: right;
}
.child-table img, .child-row img {
  width: 25px;
  height: 25px;
}
.child-table td, .child-row td{
  background-color: white;
}
.child-table td {
  text-align: right;
 color: #9d9d9d;
 font-size: 17px;
}
.child-table td span {
  cursor: pointer;
}
.page-name {
  color: #2884c9;
  margin-bottom: 25px;
  border-bottom: solid 1px #cfddf5;
  padding-bottom: 7px;
}
.fixed-navbar {
  /* position: fixed; */
  height: 90px;
  background-color: #135784;
  color: white;
  font-weight: bold;
  width: 100%;
  z-index: 1000;
  top: 0;
}
.user-navbar {
background-color: #2884c9;
border-right: solid 8px white;
float: left;
/*min-width: 350px;*/
/*max-width: 500px;*/
min-width: 25%;
height: 90px;
display:flex;
/* overflow: hidden; */
/* justify-content:center; */
align-items:center;
}
.menu-navbar {
/*width: 100%;*/
height: 90px;
/*border: solid white 1px;*/
min-width: 70%;
max-width: 75%;
position: relative;
float: left;
}
.menu-navbar>ul {
  display: inline;
}
.menu-navbar ul, .company ul {
  list-style-type: none;
  padding: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
#user_branches .active>a {
  background-color: white !important;
  color: #2884c9 !important;
}
.menu-navbar>ul>li {
  display: inline-block;
  width: 20%;
  /*min-width: 250px;*/
  line-height: 90px;
  height: 90px;
  text-align: center;
  text-transform: lowercase;
}
.company a {
  color: white !important;
  /*text-align: center;*/
  /*font-size: 22px;*/
  display: block;
  height: 100%;
  width: 100%;
}
.menu-navbar>ul>li>a {
  color: white;
  font-size: 22px;
  display: block;
  height: 100%;
  width: 100%;
}
.menu-navbar ul li a:hover, .company ul li a:hover  {
  color: #abeffd !important;
}
.menu-navbar .dropdown-menu {
  background-color: #135784;
}
.company .dropdown-menu {
  background-color: #2884c9;
}
.company .dropdown-menu>li>a {
  background-color: #2884c9;
  font-size: 18px;
  color: white;
  padding: 10px;
}
.menu-navbar .dropdown-menu>li>a {
  background-color: #135784;
  font-size: 18px;
  color: white;
  border-bottom: white 2px solid;
  padding: 10px;
}
.menu-navbar .dropdown-menu>li:last-child>a {
  border: none;
}
.icon-container {
  float: left;
  padding: 8px;
  border: solid white 4px;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 12px;
}
.icon-container img{
  width: 45px;
  height: 45px;
}
.name-container .name{
  white-space: nowrap;
  font-size: 20px;
  width: 100%;
  /* width: 200px; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.name-container .company {
  white-space: nowrap;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  /* text-overflow: ellipsis;
  overflow: hidden; */
}
.name-container a.dropdown-toggle {
  text-overflow: ellipsis;
  overflow: hidden;
}
.name-container {
  width: 50%;
  /* margin-right: 30px; */
}
.company a {
  color: white;
}
label {
  margin-bottom: 0px;
  /*font-weight: lighter;*/
}
label+p {
  color: #135784;
  font-size: 24px;
}
.toggle-icon {
  color: white;
}
.icon-bar {
  background-color: white;
}
@media screen and (max-width: 1200px) {
  .menu-navbar>ul>li>a {
    font-size: 18px;
  }
  .menu-navbar>ul>li {
    /* width:15%; */
  }
}
@media screen and (max-width: 1024px) {
  .right-panel {
    /*display: none;*/
  }
  /* .navbar-toggle {
    display: block;
  } */
  .menu-navbar.responsive {
    /* position: relative; */
  }
  /* .toggle-icon {
    position:absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    color: white;
    font-size: 30px;
  }
  .toggle-icon:hover {
    color: white;
  }
  .toggle-icon:visited {
    color: white;
  }
  .menu-navbar.responsive>ul>li {
    display: block;
    line-height: 50px;
    height: 50px;
    width: 50%;
  }
  .menu-navbar.responsive>ul>li:first-child {
    margin-top: 90px;
  }
  .menu-navbar.responsive>ul>li>ul.dropdown-menu {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 200px;
    left: auto;
  }
  .user-navbar {
    min-width: 40%;
  }
  .menu-navbar {
    min-width: 60%;
  }

  .menu-navbar.responsive>ul {
    text-align: right;
  }
  .menu-navbar.responsive>ul>li>a {
    background-color: #135784;
  }
  .menu-navbar>ul>li {
    display: none;
  } */
}
