.div-my-points{
    min-height: 400px;
    padding: 20px;
    border: white 2px solid;
}
.comment{
    font-size: 12px;
}
.points-container{
}
.my-points{
    font-size: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    float: right;
}
.my-number{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Droid;
    font-weight: bold;
    font-size: 48px;
    float: left;
}
.panel-account-state{
    margin-left: 10px;
}
.statistic-table{
    width: 100% !important;
}
.document-table{
    max-height: 200px;
    overflow: auto;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.part-header{
    text-align: left;
}
.div-client-points{
    padding: 20px;
}
.client-points{
    font-size: 24px;
    line-height: 65px;
}
.clear{
    clear: both;
}
.polecony{
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: bold;
}
.empty-message{
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: #7e7e7e;
}
@font-face {
    font-family: Droid;
    src: url('../fonts/Droid-Regular.woff')
}