.client-prize-container {
    transition: 0.6s all;
    cursor: pointer;
}

.client-prize-container:hover {
    box-shadow: #ccc 0 0 15px;
}

.client-prize-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-prize-img {
    max-width: 80%;
    height: 140px;
}

.client-prize-name {
    padding-top: 10px;
    font-size: 12px;
    color: #333;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
}

.client-prize-desc {
    height: 34px;
    line-height: 17px;
    overflow: hidden;
}

.client-prize-price {
    margin-left: 10px;
    color: #d00000;
    font-size: 48px;
    font-family: Droid;
}

@font-face {
    font-family: Droid;
    src: url('../fonts/Droid-Regular.woff')
}

.prize-details-container {}

.prize-details-name, .prize-details-desc-name {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c3c3c3;
}
.prize-details-desc-name{
    font-size: 18px;
    border-bottom: none;
    margin-bottom: 0;

}
.prize-details-img, .prize-details-desc-short, .prize-details-price-container  {
    min-height: 300px;
    margin-bottom: 50px
}
.prize-details-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #c3c3c3;
}
.prize-details-price-container{
    display: flex;
    justify-content: start;
    flex-flow: column;
}
.prize-details-desc-short {
    font-size: 22px;

}
.prize-main{
    min-height: 300px;
}
.prize-details-price {
    margin-left: 10px;
    color: #d00000;
    font-size: 64px;
    font-family: Droid;
    font-weight: bold;
    border-bottom: 1px solid #c3c3c3;
}
.prize-buttons{
    text-align: center;
}
.prize-buttons button{
    min-width: 90%;
}
.prize-details-desc-long {
    padding-top: 20px;
    border-top: 1px solid #c3c3c3;
    font-size: 16px;
}