.program-container {
    position: relative;
}

.btn-container {
    position: absolute;
    top: 0;
    right: 20px;
}
.program-statistics-container{
    max-width: calc(100% - 250px);
}
.program-time,
.program-clients,
.program-shopping-amount,
.program-sum-money,
.program-sum-points {
    display: inline-block;
    margin-right: 40px;
    font-size: 24px;
}
.program-statistics{
    max-width: 800px;
    margin:auto;
}
.program-row-statistics{
    margin-top: 20px;
}
.program-logo{
    float: left;
    padding: 20px;
}