@import url(select-program.css);
@import url(cards.css);

a {
    cursor: pointer;
}
.program-name {
    color: rgb(200, 200, 200)
}

.ui-dialog .ui-dialog-content {
    overflow-x: auto !important;
    overflow-y: auto !important;
}
.text-center{
    text-align: center;
}
.center {
    margin: auto;
}
.inline{
    display: inline-block;
}
.login-page-div {
    background-color: #2884c9;
    color: white;
    padding: 30px 50px;
    text-align: center;
}

.canvas_container {
    margin-top: 10px;
}

.login-page-div p {
    font-size: 22px;
}

.restore-pass {
    padding-left: 10px;
    padding-top: 6px;
    display: inline-block;
}

.footer-row{
    position: relative;
}
/* bootstrap cards */

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.my-button{
    margin-left: 10px;
}

/* Poleceni */

.my-badge-sum {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-badge-correct {
    font-weight: bolder
}

.my-badge-waited {
    background-color: #cccccc !important;
}

.my-badge {
    margin: 2px;
    min-width: 30px
}

.mlm-header {
    width: 5px;
    height: 50px;
    background-color: #cccccc;
    display: inline-block;
}

.mlm-child {
    width: 5px;
    height: 55px;
    background-color: #cccccc;
    display: inline-block;
    position: relative;
}

.mlm-child::before {
    content: ' ';
    position: absolute;
    width: 100px;
    left: -90px;
    top: 25px;
    height: 5px;
    background-color: #cccccc;
    transform: rotateZ(-30deg)
}

.mlm-child::after {
    content: ' ';
    position: absolute;
    width: 100px;
    left: -5px;
    top: 25px;
    height: 5px;
    background-color: #cccccc;
    transform: rotateZ(30deg)
}

.my-pill {
    display: inline-block;
}

.my-pill>li>a {
    width: 500px;
    border: #cccccc 1px solid;
    margin: 2px;
}

.poleceni-container {
    display: inline-block;
}

.poleceni-punkty {
    position: absolute;
    top: 2px;
    right: 20px;
}

.polecony {
    height: 80px;
    -webkit-transition: height 2s;
    transition: height 2s;
    text-align: left;
}
.dataTables_scrollHeadInner{
    width: 100% !important;
}
.polecony .panel {
    margin: auto;
    max-width: 500px;
}

.polecony .panel-body {
    height: 0;
    padding: 0;
    transition: height 2s;
    z-index: 1000;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.polecony h3 {
    margin-left: 20px;
    display: inline-block;
}

.polecony .panel-heading {
    position: relative;
}

.polecony img {
    margin-top: -5px;
}

.polecony:hover .document-info {
    height: auto;
}

.nav-pills>li {
    float: none !important;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
    border-bottom: 2px solid rgba(0, 0, 0, .125)
}

.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.cell-positive {
    color: green;
}

.cell-negative {
    color: red;
}

.table caption {
    padding: 5px;
}

.row-not-confirmed {
    color: #a3a3a3;
}


/* Maksymalne szerokości */

.width-100 {
    width: 100px !important;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px;
}

.max-300 {
    max-width: 300px;
}


/* zegar */

.name-header a {
    display: inline-block;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.clickable:hover td {
    background-color: #d2edfe;
}

.hero-circle {
    width: 80px;
    height: 80px;
    top: 5px;
    right: 0px;
    position: absolute;
    border: 5px solid #6e6e6e;
    border-radius: 50%;
    /* box-shadow:0 1px 8px rgba(34, 34, 34, 0.3),inset 0 1px 8px rgba(34, 34, 34, 0.3); */
}

.hero-face {
    width: 100%;
    height: 100%;
}

.hero-face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background: #6e6e6e;
    border-radius: 5px;
    content: "";
    display: block;
}

.hero-hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 -3px -25%;
    padding: 3px 0 3px 25%;
    background: #6e6e6e;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 3px 0 0 3px;
}

.hero-minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -2px 0;
    padding: 40% 2px 0;
    background: #6e6e6e;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 2px 2px 0 0;
}

.hero-second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 49%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: #ffaa2b;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.pozycje_cena,
.pozycje_cena,
.pozycje_cena_brutto,
.pozycje_wartosc_netto,
.pozycje_kwota_vat,
.pozycje_wartosc_brutto {
    min-width: 100px;
    max-width: 120px;
}

.form-control {
    padding: 6px;
}

.nowosci .label {
    font-size: 100%;
}

.pass-content {
    background-color: #2884c9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 !important;
}

.pass-reset {
    color: white;
}

.pass-reset input {
    min-width: 300px;
}

.pass-reset a {
    color: white;
    font-size: 12px;
}

.change-template:hover {
    color: #2884c9;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    padding-top: 90px;
    padding-bottom: 120px;
}

.name-header {
    padding: 20px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.name-header img {
    width: 80px;
    margin-left: 10px;
    margin-right: 30px;
}
.name-header a {
    display: flex;
    align-items: center;
    color: #2b762d;
}
#faktura_pozycje th,
#faktura_pozycje_przed th {
    vertical-align: middle;
}

#faktura_pozycje td,
#faktura_pozycje_przed td {
    vertical-align: middle;
}

.td-lp {
    vertical-align: middle;
    text-align: center;
}

.maxwidth {
    max-width: 150px;
}

#zaliczka-info th {
    vertical-align: middle;
}

.ui-datepicker-month {
    color: black;
}

.exchange_rate {
    font-size: 17px;
}

.total_amount {
    font-size: 21px;
}

.margin-left {
    padding-left: 20px;
    font-weight: bold;
}

.button-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.button-container button {
    padding: 8px 16px;
    border-color: #cfddf5;
}

.ui-dialog .row {
    margin: 0;
}

.ui-dialog {
    z-index: 1000 !important;
}

.bootstrap-datetimepicker-widget {
    z-index: 1000 !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.radio input:focus {
    outline: none;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+label::after,
.checkbox-primary input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before,
.checkbox-danger input[type="radio"]:checked+label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after,
.checkbox-danger input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before,
.checkbox-info input[type="radio"]:checked+label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after,
.checkbox-info input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before,
.checkbox-warning input[type="radio"]:checked+label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after,
.checkbox-warning input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before,
.checkbox-success input[type="radio"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after,
.checkbox-success input[type="radio"]:checked+label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}


/*.radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }*/

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
    color: #fff;
}

textarea {
    resize: none;
}

textarea.form-control.pozycje_nazwa {
    resize: vertical;
    min-height: 34px;
    height: 34px;
    max-height: 300px;
}

hr {
    border-color: #cfddf5;
}

.client-td {
    min-width: 450px;
}

.date-td {
    width: 150px;
}

.name-td {
    /*min-width: 450px;*/
}

.blue-body {
    background-color: #e1f2fc;
}

#nabywca,
#odbiorca,
#wystawiajacy {
    min-height: 200px;
    border: solid 1px #cfddf5;
    border-radius: 4px;
    padding: 0 20px;
    background-color: white;
}

#pozycje th {
    background-color: #bfbfbf;
}

#faktura_pozycje {
    margin-top: 40px;
    margin-bottom: 40px;
}

#dane_odbierajacego,
#dane_wystawiajacego,
#dane_kontrahenta {
    margin-top: 10px;
    margin-bottom: 10px;
}

.invoice-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: white;
    padding: 60px;
}

.clickable {
    cursor: pointer;
}

.well {
    background-color: #f9f9f9;
}

.zapychacz {
    height: 75px;
}

.td-success,
.td-danger {
    text-align: center;
    font-size: 17px !important;
    color: white;
}

.td-success {
    background-color: #55ab12 !important;
}

.td-danger {
    background-color: red !important;
}

.td-warning {
    background-color: #bfbfbf !important;
}

#edit_client_dialog {
    overflow: hidden;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.ui-front {
    z-index: 1031;
}


/* .ui-dialog .ui-dialog-content {
    overflow: hidden !important;
} */

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.dataTables_filter label span {}
.btn-right{
    float: right;
}
.user-navbar a {
    color: white;
}
.user-navbar .brand {
    font-size: 30px;
}
.brand.open .dropdown-menu {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
    width: 100%;
    border: none;
}
.user-navbar .dropdown-menu li a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-navbar .dropdown-menu li {
    height: 70px;
}
.license.crm {
    background-color: #f59723;
}
.license.fv {
    background-color: #31708f;
}
.dropdown-menu>li.license>a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Century Gothic';
}
.dropdown-menu>li.crm>a:hover {
    background-color: #fdaa44;
}
.dropdown-menu>li.fv>a:hover {
    background-color: #5b99b7;
}
/* .navbar-brand {
  background-color: white;
  border-right: solid 2px lightgrey;
  margin-right: 15px;
}
.navbar-default {
  background-color: #f4f9ff;
  border-color: lightgrey;
} */

.navbar {
    border-bottom: solid 2px lightgrey;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}


/* .navbar-right {
  background-color: white;
  border-left: solid 2px lightgrey;
  height: 50px;
} */

@media (max-width: 1024px) {
    .invoice-container {
        width: 100%;
        padding: 20px;
    }
    .client-td {
        min-width: auto;
    }
    .button-container {
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 900px) {
    /* .navbar-header {
      float: none;
  }

  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-right {
    background-color: inherit;
    border:none;
  } */
}

.menu-icon {
    font-size: 22px;
}

#result {
    overflow-y: scroll;
}


/*#seller-info {
  float: left;
}
#client-info {
  float: right;
}*/

.vat {
    min-width: 75px;
}

#edit-client-info:hover {
    background-color: #555;
    cursor: pointer;
}

#edit-client-info-dialog {
    overflow-x: hidden;
}


/*.usun {
  font-weight: bolder;
  color: red;
  font-size: 20px;
  cursor: pointer;
}*/

button.ui-priority-secondary {
    opacity: 1 !important;
}

.table th {
    text-align: center;
}

table td hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
}

#sposob_zaplaty,
#podsumowanie_dane,
#pozycje,
#data_wyst,
#data_sprz,
#zaliczki,
#faktura_koryg_pozycje {
    font-size: 16px;
}

#data_wyst,
#data_sprz {
    text-align: center;
}