body {
  --dark-color: #f59723;
  --dark-color-active: #d97807;
  --light-color: #fff8df;
  --light-color-hover: #fff5d2;
  --light-color-active: #ffefb8;
  --light-color-hr: #ffe5ab;
  --button-color: #f0ad4e;
  --button-border-color: #eea236;
  --button-color-active: #ec971f;
  --button-border-color-active: #d58512;
  --dark-grey: #989898;
  --shared-color: #d2edfe;
  --light-grey: #efefef;
  --nav-hover: #a7a7a7;
  --history-1: #efefef;
  --history-2: #dfdfdf;
  --history-3: #cfcfcf;
  --history-4: #bfbfbf;
  --history-5: #afafaf;
}
body[data-theme='#31708f'] {
  --dark-color: #31708f;
  --dark-color-active: #235e7b;
  --light-color: #e3f6ff;
  --light-color-hover: #dcf4ff;
  --light-color-active: #ceefff;
  --light-color-hr: #5b99b7;
  --button-color: #3e83a5;
  --button-border-color: #377b9c;
  --button-color-active: #307090;
  --button-border-color-active: #2c5b73;
}
body[data-theme='#4c8e4d'] {
  --dark-color: #4c8e4d;
  --dark-color-active: #2c6d2d;
  --light-color: #edfbed;
  --light-color-hover: #e5f9e5;
  --light-color-active: #d2f3d2;
  --light-color-hr: #d2f3d2;
  --button-color: #569e56;
  --button-border-color: #4b804b;
  --button-color-active: #437b43;
  --button-border-color-active: #306130;
}
body[data-theme='#a94442'] {
  --dark-color: #a94442;
  --dark-color-active: #9a3c3a;
  --light-color: #f9e7e7;
  --light-color-hover: #fbdcda;
  --light-color-active: #ffd4d1;
  --light-color-hr: #d26866;
  --button-color: #bf5856;
  --button-border-color: #c75a57;
  --button-color-active: #c74744;
  --button-border-color-active: #bb2d2a;
}
body[data-theme='#64318f'] {
  --dark-color: #64318f;
  --dark-color-active: #572582;
  --light-color: #f7f1fd;
  --light-color-hover: #f5eaff;
  --light-color-active: #eedbff;
  --light-color-hr: #e2c1ff;
  --button-color: #7d52a2;
  --button-border-color: #683e8c;
  --button-color-active: #6e379e;
  --button-border-color-active: #562580;
}
