<div class="container">
    <h1>Programy lojalnościowe</h1>
    <form role="form">
        <div class="form-group">
            <div class="input-group">
                <button onclick="window.location = '/#/programs/add'" class="btn btn-info">Nowy program lojalnościowy</button>
            </div>
        </div>
    </form>
    <table id="program_table" class="data-table">
        <thead>
            <tr>
                <th class="col-xs-9">Program</th>
                <th class="col-xs-3">Opis</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <script src='/scripts/program.js'></script>
    </table>
</div>