<div class="container">
    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <h1>Edycja nagrody</h1>
    <div class="errors"></div>
    <form id="frmAddEdit">
        <input type="hidden" ng-value="prize.Id">
        <div class="form-group">
            <label for="clientName">Nazwa</label>
            <input type="text" name="prize_nazwa" id="prize_nazwa" ng-model="prize.Nazwa" ng-required="1" class="form-control">
        </div>
        <div class="form-group">
            <label for="prize_cena">Cena</label>
            <input type="number" name="prize_cena" id="prize_cena" ng-model="prize.Cena" class="form-control">
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="prize_opis_skrot">Opis skrócony</label>
                <textarea id="prize_opis_skrot" rows="10" ng-model="prize.Opis_skrot" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="prize_obraz">Obraz</label>
                <div class="input-group">
                    <label class="input-group-btn">
                                          <span class="btn btn-primary">Przeglądaj&hellip;
                                            <input type='file' id="prize_obraz" name="prize_obraz" style='display:none'>
                                        </span>
                                        </label>
                    <input class="form-control" id="obraz_name" type='text' readonly>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label for="prize_opis">Opis</label>
            <textarea id="prize_opis" rows="20" ng-model="prize.Opis" class="form-control"></textarea>
        </div>
        <div class="form-group col-xs-12">
            <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                <input type="checkbox" ng-model="prize.Magazyn" ng-checked="prize.Magazyn==1" name="magazyn" id="magazyn">
                <label class="noselect" for='magazyn'>Magazyn</label>
            </div>
        </div>
        <div class="form-group col-xs-12" ng-show="prize.Magazyn == 1">
            <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                <input type="checkbox" ng-model="prize.Automat" ng-checked="prize.Automat==1" name="automat" id="automat">
                <label class="noselect" for='automat'>Automatyczna wysyłka nagrody przy pomocy wiadomości e-mail</label>
            </div>
        </div>
        <div class="form-group" ng-show="prize.Magazyn == 1 && prize.Automat == 1">
            <label for="prize_mail">Konfiguracja wiadomości e-mail</label>
            <div class="infos">
                <div class="alert alert-info">
                    <ul>
                        <li><b>{Numer_zamowienia}</b> - numer zamówienia</li>
                        <li><b>{Cena}</b> - cena nagrody</li>
                        <li><b>{Nagroda}</b> - nazwa nagrody</li>
                        <li><b>{Wiadomosc}</b> - wiadomość klienta podana przy zamawianiu nagrody</li>
                        <li><b>{Adres}</b> - adres podany przez klienta przy zamawianiu nagrody</li>
                        <li><b>{Program}</b> - nazwa programu</li>
                        <li><b>{Opis}</b> - opis pozycji z magazynu nagród (np. kod rabatowy)</li>
                    </ul>
                </div>
            </div>
            <input type="text" placeholder="Tytuł maila" ng-model="Mail_title" class="form-control"><br>
            <textarea id="prize_mail" rows="10" class="form-control"></textarea>
        </div>
        <button ng-click="update()" class="btn btn-lg btn-info btn-right">Zapisz</button>
    </form>
</div>