<div class="container">
    <h1>Lista nagród</h1>
    <form role="form">
        <div class="form-group">
            <div class="input-group">
                <button onclick="window.location = '/#/prizes/add'" class="btn btn-info">Dodaj nagrodę</button>
            </div>
        </div>
        <table class="data-table dataTable" ng-if="prizes.length == 0"><tr><td class="dataTables_empty">Brak wyników</td></tr></div>
        <div class="container client-prizes">
            <div class="client-prize-container col-md-3" ng-repeat="prize in prizes">
                <div class="client-prize-img-container">
                    <img class="client-prize-img" ng-src="{{prize.Obraz_url}}">
                </div>
                <div class="client-prize-name">{{prize.Nazwa}}</div>
                <div class="client-prize-desc js_ellipsis">{{prize.Opis_skrot}}</div>
                <div class="client-prize-price">{{prize.Cena}}</div>
                <button class="btn btn-info" style="margin-left: 15px; margin-bottom: 15px" ng-click="goToEdit(prize.Id)">Edycja</button>
                <button class="btn btn-info" ng-if="prize.Magazyn" style="margin-left: 5px; margin-bottom: 15px" ng-click="goToMagazine(prize.Id)">Magazyn nagród</button>
            </div>
        </div>
    </form>
</div>