<div class="container">
    <h1>{{Nagroda}}</h1>
    <div class="errors"></div>
    <form role="form">
        <div class="form-group">
            <div class="input-group">
                <button ng-click="showAddItem()" class="btn btn-info">Dodaj pozycję</button>
            </div>
        </div>
    </form>
    <br>
    <table id="repository_table" class="data-table">
        <thead>
            <tr>
                <th class="col-xs-5">Opis</th>
                <th class="col-xs-5">Plik</th>
                <th class="col-xs-2">Wydane</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <script src='/scripts/repository.js'></script>
    </table>
</div>