<div class="modal-content">
    <div class="modal-header">
        <h3>
            Dodaj element
        </h3>
    </div>
    <div class="modal-body" title="Dodaj element">
        <form id="frmAddItem" method="POST" action="/api/prizes/add_item">
            <input type="hidden" name="Id" id="Id" ng-model="item.Id" class="form-control">
            <input type="hidden" name="Id_nagrody" id="Id_nagrody" ng-model="item.Id_nagrody" class="form-control">
            <input type="hidden" name="Id_klienta" id="Id_klienta" ng-model="item.Id_klienta" class="form-control">
            <div class="form-group col-xs-12">
                <label for="data_opis">Opis</label>
                <textarea id="data_opis" rows="3" name="data_Opis" ng-model="item.Opis" ng-required="1" class="form-control"></textarea>
            </div>
            <div class="form-group col-xs-12">
                <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                    <input type="checkbox" ng-model="item.Zalacznik" name="automat" id="automat">
                    <label class="noselect" for='automat'>Nagroda w postaci załącznika</label>
                </div>
            </div>
            <div class="form-group col-xs-12" style="margin-bottom: 20px" ng-if="item.Zalacznik">
                <label for="item_Adres">Plik</label>
                <div class="input-group">
                    <label class="input-group-btn">
                                      <span class="btn btn-primary">Przeglądaj&hellip;
                                        <input type='file' id="item_Adres" name="item_Adres" style='display:none'>
                                    </span>
                                    </label>
                    <input class="form-control" type='text' readonly>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="update()">Zapisz</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Zamknij</button>
    </div>
</div>