<!DOCTYPE html>
<html ng-app='app'>

<head>
    <title>System Lojalnościowy
    </title>
    <base href="/">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com 'unsafe-inline'">
    <link rel='stylesheet' , href='/css/cookieconsent.min.css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
    <link rel='stylesheet' type='text/css' href='/css/dataTables.responsive.min.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel='stylesheet' href='/css/variables.css'>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/panel-klienta.css'>
    <link rel='stylesheet' href="/css/contextMenu.min.css">
    <link rel='stylesheet' href='/css/jquery-ui.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/jasny-bootstrap.min.css'>
    <link rel='stylesheet' href='/css/angucomplete-alt.css'>
    <link rel='stylesheet' href='/css/summernote.css'>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
    <link rel='stylesheet' href='/css/modal.css'>
    <link rel='stylesheet' href='/css/client.css'>
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/locale/pl.js'></script>
    <script src='/scripts/bootstrap-datetimepicker.js'></script>
    <script src='/scripts/contextMenu.min.js'></script>
    <script src="/scripts/popper.min.js "></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src="/scripts/bootstrap-select.min.js"></script>
    <script src="/scripts/datatables.min.js "></script>
    <script src='/scripts/summernote.js'></script>
    <script src='/scripts/summernote-pl-PL.js'></script>
    <script src='/scripts/dataTables.responsive.min.js'></script>
    <script src='/scripts/script.js'></script>
    <script src='/scripts/links.js'></script>
    <script src='/scripts/program.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/Chart.min.js'></script>
    <script src='/scripts/Chart.bundle.min.js'></script>
    <script src='/scripts/ellipsis.js'></script>
    <script src='/scripts/main.js'></script>
</head>

<body ng-controller='ApplicationCtrl' data-theme='#4c8e4d' ng-cloak="">
    <div class="main-wrapper">
        <myheader></myheader>
        <nav class="navbar navbar-default fixed-navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-menu" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="container-fluid">
                <div class="navbar-header user-navbar dropdown" style='position:relative;'>
                    <div class="text-center">
                        <div class="brand">
                            <a href='/#/' ng-click="gotoMain()">
                                System lojalnościowy
                            </a>
                            <a ng-if="licencje.length > 0" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                                <span class="caret caret-xl"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="license {{lic.Modul}}" ng-repeat="lic in licencje">
                                    <a href="{{lic.Url}}">{{lic.Modul}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="collapsible-menu">
                    <!-- <ul class="nav navbar-nav">
                        <li>
                            <a href='/#/clients'>Klienci</a>
                        </li>
                        <li>
                            <a href='/#/prizes'>Nagrody</a>
                        </li>
                        <li>
                            <a href='/#/orders'>Zamówienia</a>
                        </li>
                    </ul> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <div class="user-avatar-container">
                                    <img ng-if="info_session.Avatar" class="user-avatar" src='https://firmotron.pl/public/data/{{info_session.Avatar}}'>
                                    <img ng-if="!info_session.Avatar" class="user-avatar" src='./public/images/ludek.png'>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="wyloguj()">
                                        <span class="glyphicon glyphicon-off btn menu-icon" style='color: white' data-toggle='tooltip' title='Wyloguj'></span>
                                        <span>Wyloguj</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" ng-controller="ProgramsCtrl">
            <div class="infos" ng-if="ilosc_klientow > 0">
                <div class="alert alert-info">Do programu są już zapisani klienci. Warunki działania programu nie mogą być zmieniane.</div>
            </div>
            <form role="form">
                <fieldset>
                    <input type="hidden" ng-value="data.Id">
                    <div>
                        <div class="col-xs-12">
                            <h1>Krok 1. Rodzaj programu</h1>
                            <div class="form-group pull-left">
                                <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                    <input type="radio" id='Czy_mlm' ng-model="data.MLM" ng-checked="data.MLM == 1" value="1">
                                    <label class="noselect" for='Czy_mlm'>MLM</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                    <input type="radio" id='Czy_program' ng-model="data.MLM" name="Czy_mlm" ng-checked="data.MLM == 0" value="0">
                                    <label class="noselect" for='Czy_program'>Program lojalnościowy</label>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <h1>Krok 2. Podstawowe informacje</h1>
                            <div class="form-group col-xs-12">
                                <label for="Nazwa">Nazwa</label>
                                <input type="text" id="Nazwa" ng-model="data.Nazwa" ng-required="1" class="form-control">
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="Opis">Opis</label>
                                <textarea id="Opis" rows="9" ng-model="data.Opis" ng-required="1" class="form-control"></textarea>
                            </div>
                            <div class="form-group col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label for="Data_rozpoczecia">Data rozpoczęcia</label>
                                <input id="Data_rozpoczecia" ng-value="data.Data_rozpoczecia" class="form-control datepicker">
                            </div>
                            <div class="form-group col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <label for="Data_zakonczenia">Data zakończenia</label>
                                <input id="Data_zakonczenia" ng-value="data.Data_zakonczenia" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h1>Krok 3. Parametry</h1>
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6" ng-if="data.MLM == 0">
                                    <label for="Wysokosc_premii">Wysokość premii dla sieci pomocowej (w procentach)</label>
                                    <input type="number" style="width: 200px" id="Wysokosc_premii" ng-model="data.Wysokosc_premii" class="form-control">
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6" ng-if="data.MLM == 0">
                                    <label for="Liczba_poziomow">Liczba poziomów polecających, którzy otrzymują premię</label>
                                    <input type="number" style="width: 200px" id="Liczba_poziomow" ng-model="data.Liczba_poziomow" class="form-control">
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6" ng-if="data.MLM == 0">
                                    <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="checkbox" ng-model="data.Czy_pierwsza_premia" ng-checked="data.Czy_pierwsza_premia==1" name="Czy_pierwsza_premia" id="Czy_pierwsza_premia">
                                        <label class="noselect" for='Czy_pierwsza_premia'>Inna premia dla pierwszego zakupu</label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6" ng-if="data.MLM == 0" ng-show="data.Czy_pierwsza_premia">
                                    <label for="Wysokosc_pierwszej_premii">Wysokość pierwszej premii</label>
                                    <input type="number" style="width: 200px" ng-readonly="!data.Czy_pierwsza_premia" id="Wysokosc_pierwszej_premii" ng-model="data.Wysokosc_pierwszej_premii" class="form-control">
                                </div>

                                <div>
                                    <div class="form-group col-xs-12" ng-if="data.MLM == 1">
                                        <label for="Procent_dla_sieci">Wysokość premii dla sieci polecających (w procentach). Sieć polecających nie zawiera kupującego</label>
                                        <input type="number" style="width: 200px" id="Procent_dla_sieci" ng-model="data.Procent_dla_sieci" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-xs-12" ng-if="data.MLM == 1">
                                    <label for="Procent_dla_kupujacego">Wysokość premii przeznaczona dla kupującego (w procentach)</label>
                                    <input type="number" style="width: 200px" id="Procent_dla_kupujacego" ng-model="data.Procent_dla_kupujacego" class="form-control">
                                </div>
                                <div class="form-group col-xs-12" ng-show="false">
                                    <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="checkbox" ng-model="data.Generuj_numer" name="Generuj_numer" id="Generuj_numer">
                                        <label class="noselect" for='Generuj_numer'>Generuj numer klienta</label>
                                    </div>
                                </div>
                                <div style="clear: both;">
                                </div>
                                <div class="form-group col-xs-12" ng-show="true">
                                    <label>Długość numeru identyfikującego klienta (numer indywidualny dla każdego klienta; może byc umieszczany na karcie)</label><br>
                                    <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="radio" name="Dlugosc_numeru_4" ng-model="data.Dlugosc_numeru" ng-checked="data.Dlugosc_numeru == 4" value="4">
                                        <label class="noselect" for='Dlugosc_numeru_4'>4</label>
                                    </div>
                                    <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="radio" name="Dlugosc_numeru_5" ng-model="data.Dlugosc_numeru" ng-checked="data.Dlugosc_numeru == 5" value="5">
                                        <label class="noselect" for='Dlugosc_numeru_5'>5</label>
                                    </div>
                                    <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="radio" name="Dlugosc_numeru_6" ng-model="data.Dlugosc_numeru" ng-checked="data.Dlugosc_numeru == 6" value="6">
                                        <label class="noselect" for='Dlugosc_numeru_6'>6</label>
                                    </div>
                                    <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="radio" name="Dlugosc_numeru_7" ng-model="data.Dlugosc_numeru" ng-checked="data.Dlugosc_numeru == 7" value="7">
                                        <label class="noselect" for='Dlugosc_numeru_7'>7</label>
                                    </div>
                                    <div class="radio radio-info" style='display: inline-block; margin: 10px 10px;'>
                                        <input type="radio" name="Dlugosc_numeru_8" ng-model="data.Dlugosc_numeru" ng-checked="data.Dlugosc_numeru == 8" value="8">
                                        <label class="noselect" for='Dlugosc_numeru_8'>8</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                                <canvas id="myChart" width="300" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                    <h1 class="col-xs-12">Krok 4. Regulamin</h1>
                    <div class="form-group col-xs-12">
                        <textarea id="program_regulamin" rows="20" class="form-control"></textarea>
                    </div>
                    <h1 class="col-xs-12">Krok 5. Konfiguracja panelu klienta</h1>
                    <div class="form-group col-xs-12">
                        <label for="O_nas">"O nas" - adres strony</label>
                        <input type="text" id="O_nas" ng-model="data.O_nas" class="form-control">
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="data.Kontakt" name="Kontakt" id="Kontakt">
                            <label class="noselect" for='Kontakt'>Formularz kontaktowy</label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-if="data.Kontakt">
                        <label for="Kontakt_email">Adres email do kontaktu</label>
                        <input type="email" id="Kontakt_email" ng-model="data.Kontakt_email" class="form-control">
                    </div>
                    <div class="form-group col-xs-12" ng-if="data.Kontakt">
                        <label for='Zgoda_tresc'>Treść zgody na przetwarzanie danych osobowych</label>
                        <textarea id="program_zgoda_tresc" ng-model="data.Zgoda_tresc" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_tlo" class="col-xs-12">Tło</label>
                        <div class="col-xs-12">
                            <img height="300" ng-src="{{data.Tlo ? data.Tlo.Path+'/'+data.Tlo.File : ''}}">
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <label class="input-group-btn">
                                  <span class="btn btn-primary">Przeglądaj&hellip;
                                    <input type='file' id="program_tlo" name="program_tlo" style='display:none' accept='image/png, image/jpeg'>
                                </span>
                                </label>
                                <input class="form-control" ng-model="data.Tlo.OriginalName" type='text' readonly>
                            </div>
                        </div>
                        <button class="btn btn-info col-xs-2" ng-click="uploadTlo()">Prześlij</button>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_logo" class="col-xs-12">Logo</label>
                        <div class="col-xs-12">
                            <img height="100" ng-src="{{data.Logo ? data.Logo.Path+'/'+data.Logo.File : '/images/ludek.png'}}">
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <label class="input-group-btn">
                              <span class="btn btn-primary">Przeglądaj&hellip;
                                <input type='file' id="program_logo" name="program_logo" style='display:none' accept='image/png, image/jpeg'>
                            </span>
                            </label>
                                <input class="form-control" ng-model="data.Logo.OriginalName" type='text' readonly>
                            </div>
                        </div>
                        <button class="btn btn-info col-xs-2" ng-click="uploadLogo()">Prześlij</button>
                    </div>
                    <h1 class="col-xs-12">Krok 6. Konfiguracja maili</h1>
                    <div style="clear: both;"></div>
                    <div class="infos">
                        <div class="alert alert-info">W treści maila można wstawiać wyrażenie, które będą uzupełniane w trakcie generowania wiadomości. Dostępne wyrażenia:
                            <ul>
                                <li>{Firma} - Nazwa twojej firmy</li>
                                <li>{Numer_zamowienia} - Numer zamówienia klienta</li>
                                <li>{Cena} - Cena zamówionego produktu</li>
                                <li>{Nagroda} - Nazwa nagrody</li>
                                <li>{Wiadomosc_klienta} - Wiadomość klienta dotycząca zamówienia</li>
                                <li>{Adres} - Adres wysyłki zamówienia</li>
                                <li>{Program} - Nazwa programu lojalnościowego</li>
                                <li>{Nagroda_opis} - Opis nagrody</li>
                                <li>{Nagroda_opis_skrot} - Skrót opisu nagrody</li>
                                <li>{Aktualny_stan_konta} - Aktualny stan konta</li>
                                <li>{Zmiana_stanu_konta} - Ostatnia zmiana salda</li>
                                <li>{Opis_zmiany} - Opis ostatniej zmiany salda</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">

                        <label for="program_mail_przywitanie">Przywitanie w systemie (mail zostaje wysłany po dodaniu użytkownika do systemu)</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_przywitanie_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_przywitanie_do_mnie" id="Mail_przywitanie_do_mnie" name="Mail_przywitanie_do_mnie">
                            <label class="noselect" for='Mail_przywitanie_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_przywitanie_do_klienta" name="Mail_przywitanie_do_klienta" id="Mail_przywitanie_do_klienta">
                            <label class="noselect" for='Mail_przywitanie_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_przywitanie" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_mail_cykliczny">Email cykliczny (mail jest wysyłany w pierwszy dzień miesiąca, powinien zawierać podsumowanie poprzedniego miesiąca)</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_cykliczny_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_cykliczny_do_mnie" name="Mail_cykliczny_do_mnie" id="Mail_cykliczny_do_mnie">
                            <label class="noselect" for='Mail_cykliczny_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_cykliczny_do_klienta" name="Mail_cykliczny_do_klienta" id="Mail_cykliczny_do_klienta">
                            <label class="noselect" for='Mail_cykliczny_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_cykliczny" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_mail_zmiana_salda">Informacja o zmianie salda (mail jest wysyłany po każdej zmianie stanu konta klienta)</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_zmiana_salda_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_zmiana_salda_do_mnie" name="Mail_zmiana_salda_do_mnie" id="Mail_zmiana_salda_do_mnie">
                            <label class="noselect" for='Mail_zmiana_salda_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_zmiana_salda_do_klienta" name="Mail_zmiana_salda_do_klienta" id="Mail_zmiana_salda_do_klienta">
                            <label class="noselect" for='Mail_zmiana_salda_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_zmiana_salda" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_mail_zamowienie">Potwierdzenie zamówienia</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_zamowienie_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_zamowienie_do_mnie" name="Mail_zamowienie_do_mnie" id="Mail_zamowienie_do_mnie">
                            <label class="noselect" for='Mail_zamowienie_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_zamowienie_do_klienta" name="Mail_zamowienie_do_klienta" id="Mail_zamowienie_do_klienta">
                            <label class="noselect" for='Mail_zamowienie_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_zamowienie" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_mail_realizacja">Realizacja zamówienia</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_realizacja_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_realizacja_do_mnie" name="Mail_realizacja_do_mnie" id="Mail_realizacja_do_mnie">
                            <label class="noselect" for='Mail_realizacja_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_realizacja_do_klienta" name="Mail_realizacja_do_klienta" id="Mail_realizacja_do_klienta">
                            <label class="noselect" for='Mail_realizacja_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_realizacja" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="program_mail_anulowanie">Anulowanie zamówienia</label>
                        <input type="text" placeholder="Tytuł maila" ng-model="Mail_anulowanie_title" class="form-control">
                        <br>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_anulowanie_do_mnie" name="Mail_anulowanie_do_mnie" id="Mail_anulowanie_do_mnie">
                            <label class="noselect" for='Mail_anulowanie_do_mnie'>Wyślij do mnie</label>
                        </div>
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="Mail_anulowanie_do_klienta" name="Mail_anulowanie_do_klienta" id="Mail_anulowanie_do_klienta">
                            <label class="noselect" for='Mail_anulowanie_do_klienta'>Wyślij do klienta</label>
                        </div>
                        <textarea id="program_mail_anulowanie" rows="10" class="form-control"></textarea>
                    </div>
                </fieldset>
                <div style="clear: both"></div>
                <div class="form-group">
                    <div class="input-group">
                        <button ng-click="update()" class="btn btn-lg btn-info">Zapisz</button>&nbsp;
                        <button ng-click="goToSelectProgram()" class="btn btn-lg btn-info">Powrót</button>
                    </div>
                </div>
            </form>
            <script>
                $('.datepicker').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            </script>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/jasny-bootstrap.min.js"></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>