<!DOCTYPE html>
<html>

<head>
    <title>Logowanie klienta</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://firmotron.pl https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com https://ajax.googleapis.com 'unsafe-inline' 'unsafe-eval'">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/cookieconsent.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/client.css'>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/cookies.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src='/scripts/script.js'></script>
    <script src='/scripts/main.js'></script>
    <script src='/scripts/ellipsis.js'></script>
</head>

<body ng-app='app' ng-controller="ApplicationClientLogoutCtrl">
    <div class="main-wrapper" style="padding-top: 0">
        <ng-include src="'/user/header.html'"></ng-include>
        <div class="content container">
            <div class="form-container" ng-style="Program.Tlo && {'background-image':'url('+Program.Tlo.Path+'/'+Program.Tlo.File+')'}">
                <div ng-if="!SetPassword" class="form client-login-form">
                    <div class="errors"></div>
                    <div class="infos"></div>
                    <form id='login-form'>
                        <div class="form-group">
                            <input type='text' name='login' class='form-control text-input' id='login' ng-model="login" placeholder='Login użytkownika' ng-required>
                        </div>
                        <div class="form-group">
                            <input type='password' name='haslo' class='form-control text-input' id='haslo' placeholder='Hasło' ng-model="haslo" required>
                        </div>
                        <div class="form-group">
                            <button class='btn btn-default submit-button' ng-click="zaloguj()">zaloguj się</button> &nbsp;
                            <div class="restore-pass">
                                <a ng-click="goToResetPassword()"> &nbsp;  Przypomnij hasło</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-page-div">
                <p>Wypróbuj już dziś! To nic nie kosztuje!</p>
                <div class="row">
                    <div class="col-md-6">
                        <button class='btn btn-default submit-button client-large-button' ng-click="goToRegister(1)">Mam już kartę klienta</button>
                    </div>
                    <div class="col-md-6">
                        <button class='btn btn-default submit-button client-large-button' ng-click="goToRegister(2)">Nie posiadam karty klienta</button>
                    </div>
                </div>
            </div>
            <ng-include src="'/user/prize.html'"></ng-include>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>