<!DOCTYPE html>
<html>

<head>
    <title>Rejestracja</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://firmotron.pl https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com https://ajax.googleapis.com 'unsafe-inline' 'unsafe-eval'">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/cookieconsent.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/client.css'>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/cookies.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src='/scripts/script.js'></script>
    <script src='/scripts/main.js'></script>
    <script src='/scripts/ellipsis.js'></script>
</head>

<body ng-app='app' ng-controller="ApplicationClientLogoutCtrl">
    <div class="main-wrapper" style="padding-top: 0">
        <ng-include src="'/user/header.html'"></ng-include>
        <div class="login-page-div">
            <div class="container">
                <div class="form client-login-form">
                    <form id='register-form'>
                        <div class="errors"></div>
                        <div class="infos"></div>
                        <div class="form-group" ng-if="IsCard == 1">
                            <label for="cardnumber">Numer karty klienta*</label>
                            <input type='text' name='cardnumber' class='form-control text-input' id='cardnumber' placeholder='Numer karty klienta' ng-model="user.Numer" ng-required>
                        </div>
                        <div class="row" ng-if="IsCard > 0">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email*</label>
                                    <input type='text' name='email' class='form-control text-input' id='email' ng-model="user.Email" placeholder='Email' ng-required>
                                </div>
                                <div class="form-group">
                                    <label for="imie">Imię</label>
                                    <input type='text' name='imie' class='form-control text-input' id='imie' ng-model="user.Imie" placeholder='Imię' ng-required>
                                </div>
                                <div class="form-group">
                                    <label for="nazwisko">Nazwisko</label>
                                    <input type='text' name='nazwisko' class='form-control text-input' id='nazwisko' ng-model="user.Nazwisko" placeholder='Nazwisko' ng-required>
                                </div>
                                <div class="form-group">
                                    <label for="telefon">Telefon</label>
                                    <input type='text' name='telefon' class='form-control text-input' id='telefon' ng-model="user.Telefon" placeholder='Telefon' ng-required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="adres">Adres</label>
                                    <textarea class="form-control client-adres" ng-model="user.Adres" placeholder="Adres" name="adres" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="haslo">Hasło*</label>
                                    <input type='password' name='haslo' class='form-control text-input' id='haslo' placeholder='Hasło' ng-model="user.haslo" ng-required>
                                </div>
                                <div class="form-group">
                                    <label for="haslo2">Potwierdź hasło*</label>
                                    <input type='password' name='haslo2' class='form-control text-input' id='haslo2' placeholder='Potwierdź hasło' ng-model="user.haslo2" ng-required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <button class='btn btn-default submit-button' ng-click="register()" ng-if="IsCard > 0">Zarejestruj</button> &nbsp;
                        <button type="button" class="btn btn-default submit-button" ng-click="goToLogin()">Powrót do logowania</a>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>