<!DOCTYPE html>
<html>

<head>
    <title>Logowanie klienta</title>
    <link rel='stylesheet' , href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css">
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/panel-klienta.css'>
    <link rel='stylesheet' href="/css/contextMenu.min.css">
    <link rel='stylesheet' href='/css/jquery-ui.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/jasny-bootstrap.min.css'>
    <link rel='stylesheet' href='/css/angucomplete-alt.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css'>
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/modal.css'>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js'></script>
    <script src='/scripts/cookies.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='/scripts/script.js'></script>
</head>

<body ng-app='app' ng-controller="ApplicationClientLogoutCtrl">
    <div class="main-wrapper">
        <ng-include src="'/parts/header.html'"></ng-include>
        <div class="content container">
            <div class="container">
                <h1 class="page-name">Formularz kontaktowy</h1>
                <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="email" ng-model="data.email" name="email" />
                    </div>
                    <div class="form-group">
                        <label>Imię</label>
                        <input class="form-control" type="text" ng-model="data.imie" name="imie" />
                    </div>
                    <div class="form-group">
                        <label>Nazwisko</label>
                        <input class="form-control" type="text" ng-model="data.nazwisko" name="nazwisko" />
                    </div>
                    <div class="form-group">
                        <label>Treść</label>
                        <textarea class="form-control" ng-model="data.tresc" name="tresc" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-info" style='display: inline-block; margin: 10px 10px;'>
                            <input type="checkbox" ng-model="data.zgoda" name="kontakt_rodo" id="kontakt_rodo">
                            <label class="noselect" for='kontakt_rodo'>{{Program.Zgoda_tresc}}</label>
                        </div>
                    </div>
                    <button class="btn btn-default submit-button pull-right" ng-click="sendEmail()" style="margin-bottom:10px">Wyślij </button>
                    <div class="errors" style="clear: both"></div>
                    <div class="infos" style="clear: both"></div>
                </div>
            </div>
        </div>
        <div class="footer row">
            <div class="col-xs-6">
                <div class="row footer-links">
                    <div class="col-xs-12">
                        <a ng-click="gotoAboutMe()">
                            <h5>O nas</h5>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a ng-click="gotoRules()">
                            <h5>Regulamin</h5>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="https://bs365.pl/polityka" target="blank">
                            <h5>Polityka prywatności</h5>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="https://bs365.pl/cookies" target="blank">
                            <h5>Polityka cookies</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="contact-info" style="color: white">
                            <h5>Telefon: {{Firma.Telefon}} </h5><br/>
                            <h5>E-mail: {{Firma.Email}}</h5><br/>
                            <h5><a ng-click="gotoContact()">Formularz kontaktowy</a></h5><br/>
                            <h5>Copyright &copy; 2017-2018 BlueformSoftware</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>