<!DOCTYPE html>
<html ng-app='app'>

<head>
    <title>
    </title>
    <base href="">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://firmotron.pl https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com https://ajax.googleapis.com 'unsafe-inline'">
    <link rel='stylesheet' href='/css/variables.css'>
    <link rel='stylesheet' , href='/css/cookieconsent.min.css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
    <link rel='stylesheet' type='text/css' href='/css/dataTables.responsive.min.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/panel-klienta.css'>
    <link rel='stylesheet' href="/css/contextMenu.min.css">
    <link rel='stylesheet' href='/css/jquery-ui.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/summernote.css'>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/modal.css'>
    <link rel='stylesheet' href='/css/panelclient.css'>
    <link rel='stylesheet' href='/css/client.css'>
    <link rel='stylesheet' href='/css/prize.css'>
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/locale/pl.js'></script>
    <script src='/scripts/bootstrap-datetimepicker.js'></script>
    <script src='/scripts/contextMenu.min.js'></script>
    <script src="/scripts/popper.min.js "></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src="/scripts/bootstrap-select.min.js"></script>
    <script src="/scripts/datatables.min.js "></script>
    <script src='/scripts/summernote.js'></script>
    <script src='/scripts/summernote-pl-PL.js'></script>
    <script src='/scripts/dataTables.responsive.min.js'></script>
    <script src='/scripts/script.js'></script>
    <script src='/scripts/program.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/Chart.min.js'></script>
    <script src='/scripts/Chart.bundle.min.js'></script>
    <script src='/scripts/ellipsis.js'></script>
</head>

<body ng-controller='ApplicationClientCtrl' data-theme='#4c8e4d' ng-cloak="">
    <div class="main-wrapper">
        <myheader></myheader>
        <nav class="navbar navbar-default fixed-navbar">
            <div class="container-fluid">
                <div class="navbar-header user-navbar">
                    <div class="navbar-brand" style='position:relative;'>
                        <div class="name-container">
                            <div class="client-header small">
                                <img ng-src="{{Program.Logo ? Program.Logo.Path+'/'+Program.Logo.File : '/images/ludek.png'}}">
                                <div class="client-header-program">{{Program.Nazwa}}</div>
                            </div>
                        </div>
                        <a class="settings" ng-click="goToSettings()">
                            <span class="glyphicon glyphicon-cog btn menu-icon" style='color: white' data-toggle='tooltip' title='Ustawienia'></span>
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                </div>
                <div class="collapse navbar-collapse" id="collapsible-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-click="goToMain()">Panel klienta</a>
                        </li>
                        <li>
                            <a ng-click="goToPrizes()">Nagrody</a>
                        </li>
                        <li>
                            <a ng-click="goToOrders()">Moje zamówienia</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-click="wyloguj()">
                                <span class="glyphicon glyphicon-off btn menu-icon" style='color: white' data-toggle='tooltip' title='Wyloguj'></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>