<!DOCTYPE html>
<html ng-app='app'>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title>
    </title>
    <base href="/">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://firmotron.pl https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com https://ajax.googleapis.com 'unsafe-inline'">
    <link rel='stylesheet' , href='/css/cookieconsent.min.css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
    <link rel='stylesheet' type='text/css' href='/css/dataTables.responsive.min.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel='stylesheet' href='/css/variables.css'>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel='stylesheet' href='/css/panel-klienta.css'>
    <link rel='stylesheet' href="/css/contextMenu.min.css">
    <link rel='stylesheet' href='/css/jquery-ui.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/jasny-bootstrap.min.css'>
    <link rel='stylesheet' href='/css/angucomplete-alt.css'>
    <link rel='stylesheet' href='/css/summernote.css'>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
    <link rel='stylesheet' href='/css/modal.css'>
    <link rel='stylesheet' href='/css/client.css'>
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/locale/pl.js'></script>
    <script src='/scripts/bootstrap-datetimepicker.js'></script>
    <script src='/scripts/contextMenu.min.js'></script>
    <script src="/scripts/popper.min.js "></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src="/scripts/bootstrap-select.min.js"></script>
    <script src="/scripts/datatables.min.js "></script>
    <script src='/scripts/summernote.js'></script>
    <script src='/scripts/summernote-pl-PL.js'></script>
    <script src='/scripts/dataTables.responsive.min.js'></script>
    <script src='/scripts/script.js'></script>
    <script src='/scripts/links.js'></script>
    <script src='/scripts/program.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/Chart.min.js'></script>
    <script src='/scripts/Chart.bundle.min.js'></script>
    <script src='/scripts/ellipsis.js'></script>
    <script src='/scripts/main.js'></script>
</head>

<body ng-controller='ApplicationCtrl' data-theme='#4c8e4d' ng-cloak="">
    <div class="main-wrapper">
        <myheader></myheader>
        <nav class="navbar navbar-default fixed-navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="container-fluid">
                <div class="navbar-header user-navbar dropdown" style='position:relative;'>
                    <div class="text-center">
                        <div class="brand">
                            <a href='/#/' style="font-size: 28px" ng-click="gotoMain()">
                                System lojalnościowy
                            </a>
                            <a ng-if="licencje.length > 0" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="caret caret-xl"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="license {{lic.Modul}}" ng-repeat="lic in licencje">
                                    <a href="{{lic.Url}}">{{lic.Modul}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="collapsible-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href='/#/clients'>Karty klienta</a>
                        </li>
                        <li>
                            <a href='/#/prizes'>Nagrody</a>
                        </li>
                        <li>
                            <a href='/#/orders'>Zamówienia</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <div class="user-avatar-container">
                                    <img ng-if="info_session.Avatar" src='https://firmotron.pl/public/data/{{info_session.Avatar}}'>
                                    <img ng-if="!info_session.Avatar" src='./public/images/ludek.png'>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="gotoMain()">
                                        <span class="glyphicon glyphicon-cog btn menu-icon" style='color: white' data-toggle='tooltip' title='Programy lojalnościowe'></span><span>Programy lojalnościowe</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="wyloguj()">
                                        <span class="glyphicon glyphicon-off btn menu-icon" style='color: white' data-toggle='tooltip' title='Wyloguj'></span><span>Wyloguj</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/jasny-bootstrap.min.js"></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>