<!DOCTYPE html>
<html>

<head>
    <title>Logowanie klienta</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com 'unsafe-inline'">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/cookieconsent.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png">
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/cookies.js'></script>
    <script src='/scripts/js.cookie.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src='/scripts/main.js'></script>
</head>

<body ng-app='app' ng-controller="ApplicationClientLogoutCtrl">
    <div class="main-wrapper">
        <ng-include src="'/parts/header.html'"></ng-include>
        <div class="content container">
            <div class="form-container" ng-style="Program.Tlo && {'background-image':'url('+Program.Tlo.Path+'/'+Program.Tlo.File+')'}">
                <div class="form">
                    <form id='login-form'>
                        <h1>{{Program.Nazwa}}</h1>
                        <h3>resetowanie hasła</h3>
                        <div class="errors"></div>
                        <div class="infos"></div>
                        <div class="form-group">
                            <input type='text' name='login' class='form-control text-input' id='login' ng-model="login" placeholder='Login użytkownika' ng-required>
                        </div>
                        <div class="form-group">
                            <button class='btn btn-default submit-button' ng-click="resetPassword()">Wyślij</button> &nbsp;
                            <div class="restore-pass">
                                <a ng-click="gotoMain()"> &nbsp;  Powrót do logowania</a>
                            </div>
                        </div>
                    </form>
                    <br>
                    <ng-include src="'/parts/messages.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js "></script>
    <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src='/scripts/angucomplete-alt.min.js'></script>
    <script src="/scripts/angular-file-upload.min.js"></script>
    <script src="/app.js "></script>
</body>

</html>