<!DOCTYPE html>
<html>

<head>
    <title>Logowanie klienta</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com 'unsafe-inline'">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/cookieconsent.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/forms.css'>
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png">
    <script src='/scripts/cookieconsent.min.js'></script>
    <script src='/scripts/cookies.js'></script>
    <script src='/scripts/js.cookie.js'></script>
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/bootstrap.min.js'></script>
    <script src='/scripts/main.js'></script>
</head>

<body ng-app='app' ng-controller='SetPasswordCtrl'>
    <div class="main-wrapper" style="padding-top: 0;">
        <ng-include src="'/parts/header.html'"></ng-include>
        <div class="content container">
            <div class="form-container">
                <div ng-if="IsNumberCorrect">
                    <form>
                        <div class="form-group">
                            <div class="infos"></div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" ng-if="IsSaved" ng-click="GoToLogin()">Przejdź do logowania</button>
                        </div>
                    </form>
                </div>
                <div ng-if="!IsNumberCorrect">
                    <h4>Wprowadź numer karty</h4>
                    <form method="post">
                        <div class="errors"></div>
                        <div class="form-group">
                            <input class="form-control" type="number" id="number" ng-required="1" ng-model="number" placeholder="Numer" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" ng-model="token" />
                            <input type="hidden" ng-model="id" />
                        </div>
                        <button class="submit-button btn btn-default" ng-click="checkNumber()">Wyślij</button>
                    </form>
                </div>
                <div ng-if="IsNumberCorrect && !IsSaved">
                    <h4>Wprowadź nowe hasło</h4>
                    <form method="post">
                        <div class="errors"></div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="haslo" ng-required="1" ng-model="haslo" placeholder="Hasło" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="haslo_powt" ng-required="1" ng-model="haslo_powt" placeholder="Powtórz hasło" />
                            <input type="hidden" ng-model="token" />
                            <input type="hidden" ng-model="id" />
                        </div>
                        <button class="submit-button btn btn-default" ng-click="setPassword()">Zapisz</button>
                    </form>

                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js "></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js "></script>
        <script src="/scripts/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src='/scripts/angucomplete-alt.min.js'></script>
        <script src="/scripts/angular-file-upload.min.js"></script>
        <script src="/app.js "></script>
</body>

</html>