<div class="modal-content">
    <div class="modal-header">
        <h3>
            {{header}}
        </h3>
    </div>
    <div class="modal-body" title="Dodaj sprzedaż klienta">
        {{body}}
        <textarea id="Desc" rows="3" ng-model="Desc" ng-required="1" class="form-control" ng-if="ShowDesc"></textarea>
    </div>
    <div class="modal-footer">
        <button ng-if="OK" class="btn btn-primary" type="button" ng-click="YesClick()">OK</button>
        <button ng-if="!OK" class="btn btn-primary" type="button" ng-click="YesClick()">Tak</button>
        <button ng-if="!OK" class="btn btn-warning" type="button" ng-click="NoClick()">Nie</button>
    </div>
</div>