<div>
    <div class="name-header">
        <a ng-click="gotoMain()">
            <img src='/images/logo_sl.png'>
            System Lojalnościowy
        </a>
    </div>
    <script>
        function updateClock() {
            var now = moment(),
                second = now.seconds() * 6,
                minute = now.minutes() * 6 + second / 60,
                hour = ((now.hours() % 12) / 12) * 360 + 90 + minute / 12;
            $('#hour').css("transform", "rotate(" + hour + "deg)");
            $('#minute').css("transform", "rotate(" + minute + "deg)");
            $('#second').css("transform", "rotate(" + second + "deg)");
        }

        function timedUpdate() {
            updateClock();
            setTimeout(timedUpdate, 1000);
        }
        timedUpdate();
    </script>
</div>