<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com 'unsafe-inline'">
<link rel='stylesheet' , href='/css/cookieconsent.min.css'>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css">
<link rel='stylesheet' type='text/css' href='/css/dataTables.responsive.min.css'>
<link rel='stylesheet' href='/css/bootstrap.min.css'>
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel='stylesheet' href='/css/variables.css'>
<link rel='stylesheet' href="/css/style.css">
<link rel='stylesheet' href='/css/forms.css'>
<link rel='stylesheet' href='/css/panel-klienta.css'>
<link rel='stylesheet' href="/css/contextMenu.min.css">
<link rel='stylesheet' href='/css/jquery-ui.min.css'>
<link rel='stylesheet' href='/css/jquery-ui.theme.min.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/jasny-bootstrap.min.css'>
<link rel='stylesheet' href='/css/angucomplete-alt.css'>
<link rel='stylesheet' href='/css/summernote.css'>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
<link rel='stylesheet' href='/css/modal.css'>
<link rel='stylesheet' href='/css/client.css'>
<script src='/scripts/cookieconsent.min.js'></script>
<script src='/scripts/jquery-3.2.1.min.js'></script>
<script src='/scripts/moment.min.js'></script>
<script src='/scripts/locale/pl.js'></script>
<script src='/scripts/bootstrap-datetimepicker.js'></script>
<script src='/scripts/contextMenu.min.js'></script>
<script src="/scripts/popper.min.js "></script>
<script src='/scripts/bootstrap.min.js'></script>
<script src="/scripts/bootstrap-select.min.js"></script>
<script src="/scripts/datatables.min.js "></script>
<script src='/scripts/summernote.js'></script>
<script src='/scripts/summernote-pl-PL.js'></script>
<script src='/scripts/dataTables.responsive.min.js'></script>
<script src='/scripts/script.js'></script>
<script src='/scripts/links.js'></script>
<script src='/scripts/program.js'></script>
<script src='/scripts/jquery-ui.min.js'></script>
<script src='/scripts/Chart.min.js'></script>
<script src='/scripts/Chart.bundle.min.js'></script>
<script src='/scripts/ellipsis.js'></script>
<script src='/scripts/main.js'></script>