<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://api.openweathermap.org; frame-src https://accounts.google.com/ https://content.googleapis.com/; img-src 'self' https://openweathermap.org/img/ https://favicons.githubusercontent.com/; style-src 'self' 'unsafe-inline'; script-src 'self' https://apis.google.com 'unsafe-inline'">
<link rel='stylesheet' href='/css/bootstrap.min.css'>
<link rel='stylesheet' href='/css/cookieconsent.min.css'>
<link rel='stylesheet' href='/css/style.css'>
<link rel='stylesheet' href='/css/main.css'>
<link rel='stylesheet' href='/css/forms.css'>
<link rel="shortcut icon" type="image/png" href="./images/favicon.png">
<script src='/scripts/cookieconsent.min.js'></script>
<script src='/scripts/cookies.js'></script>
<script src='/scripts/js.cookie.js'></script>
<script src='/scripts/moment.min.js'></script>
<script src='/scripts/jquery-3.2.1.min.js'></script>
<script src='/scripts/bootstrap.min.js'></script>
<script src='/scripts/main.js'></script>