<h2>Co nowego? </h2>
<div class="col-xs-12 col-md-4">
    <h4>Już jest! z bezpłatną półroczną subskrypcją</h4>
    <p>Z ogromną przyjemnością pragniemy oddać do Twojej dyspozycji najnowszy serwis faktura365.pl, którego zadaniem ma być ułatwienie użytkownikom wystawiania dokumentów księgowych. </p>
    <h4>Przyjazny dla Twojej księgowej</h4>
    <p>Dzięki naszej aplikacji nie będziesz już musiał zanosić dokumentów sprzedażowych do księgowej. Sama pobierze rejestr sprzedaży i rozliczy Twoje faktury. Wystarczy tylko, że w ustawieniach wskażesz, które biuro rachunkowe świadczy dla Ciebie usługę
        księgową... </p>
</div>
<div class="col-xs-12 col-md-4">
    <h4>Główne zalety serwisu:</h4>
    <p>
        <ol>
            <li>Automatyczne przeliczanie kwot, sprawdzanie poprawności NIP, tworzenie bazy kontrahentów, produktów i usług.</li>
            <li>Pobieranie danych kontrahenta po podaniu numeru NIP i kliknięciu przycisku "Uzupełnij dane z GUS".</li>
            <li>Sprawdzanie podatników VAT w systemie VIES oraz w rejestrach Ministerstwa Finansów.</li>
            <li>Wystawianie faktur w walutach obcych. Podatek VAT zostanie automatycznie przeliczony po aktualnym kursie NBP.</li>
            <li>Integracja w systemami obsługi księgowej oraz generowanie ewidencji sprzedaży JPK_VAT.</li>
            <li>Możliwość zdefiniowania wielu oddziałów firmy i wielu użytkowników.</li>
            <li>Możliwość zdefiniowania własnej numeracji faktur i szablonów dokumentów.</li>
            <li>Bezpieczeństwo danych: codzienne kopie oraz szyfrowanie danych w bazie danych.</li>
            <li>Bezpłatna pomoc 5 dni w tygodniu oraz częste aktualizacje.</li>
        </ol>
    </p>
</div>
<div class="col-xs-12 col-md-4">
    <h4>Gotowy na JPK_VAT</h4>
    <p>Od 1 stycznia 2018 r. już wszyscy przedsiębiorcy będą objęci obowiązkiem przekazywania fiskusowi danych o zakupach i sprzedaży w ramach jednolitego pliku kontrolnego, wynikające z ewidencji VAT. JPK_VAT to zestaw informacji o transakcjach za dany
        okres. Obowiązek prowadzenia ewidencji VAT wynika wprost z art. 109 Ustawy o podatku od towarów i usług. Zgodnie z nim, podatnicy, z wyjątkiem podatników wykonujących wyłącznie czynności zwolnione od podatku oraz podmiotów, u których sprzedaż
        jest zwolniona od tej daniny, są zobowiązani prowadzić ewidencję zawierającą dane niezbędne do prawidłowego sporządzenia deklaracji podatkowej oraz informacji podsumowującej. Taki raport należy przesłać do 25 dnia danego miesiąca za poprzedni
        miesiąc.</p>
</div>