<div class="col-xs-6">
    <div class="row footer-links">
        <div class="col-xs-12">
            <a href="http://www.blueformsoftware.pl/">
                <h5>O nas</h5>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="regulamin">
                <h5>Regulamin</h5>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="https://firmotron.pl/polityka" target="blank">
                <h5>Polityka prywatności</h5>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="https://firmotron.pl/cookies" target="blank">
                <h5>Polityka cookies</h5>
            </a>
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="contact-info" style="color: white">
                <h5>Telefon: +48 32 471 00 84 </h5><br/>
                <h5>E-mail: biuro@blueformsoftware.pl</h5><br/>
                <h5><a href="/kontakt">Formularz kontaktowy</a></h5><br/>
                <h5>Copyright &copy; 2017-2018 BlueformSoftware</h5>
            </div>
        </div>
    </div>
</div>