<div class="modal-content">
    <div class="modal-header">
        <h3>
            Zmiana hasła
        </h3>
    </div>
    <div class="modal-body" title="Zmiana hasła">
        <form>
            <div class="dialogerrors"></div>
            <div class="form-group col-xs-12">
                <label for="haslo_old">Aktualne hasło</label>
                <input type="password" id="haslo_old" name="haslo_old" ng-model="haslo_old" class="form-control">
            </div>
            <div class="form-group col-xs-12">
                <label for="haslo">Nowe hasło</label>
                <input id="haslo" type="password" name="haslo" ng-model="haslo" class="form-control">
            </div>
            <div class="form-group col-xs-12">
                <label for="haslo_powt">Potwierdź hasło</label>
                <input id="haslo_powt" type="password" name="haslo_powt" ng-model="haslo_powt" class="form-control">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="update()">Zapisz</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Zamknij</button>
    </div>
</div>