<div class="client-header">
    <img height="80" class="img-inline" ng-src="{{Program.Logo ? Program.Logo.Path+'/'+Program.Logo.File : '/images/ludek.png'}}">
    <div class="client-header-program">{{Program.Nazwa}}</div>
</div>