<div class="container" id="panel" ng-controller="PanelClientCtrl">
    <div class="row row-eq-height">
        <div class="col-xs-12 col-md-6 div-my-points">
            <div class="points-container">
                <!-- <img width="65px" class="img-inline" src='../../images/ludek.png'> -->
                <div class="my-number" data-target="tooltip" title="Numer karty klienta">
                    <span class="glyphicon glyphicon-credit-card"></span>&nbsp;{{client.Numer}}
                </div>
                <div class="my-points" data-target="tooltip" title="Stan konta">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <div class="panel-account-state">{{client.StanKonta}}</div>
                </div>
                <div style="clear: both"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <label>Zdobyte punkty: </label> {{client.SumaPunktowDodatnichZatwierdzonych}} ( {{client.SumaPunktowDodatnich}} )*
                </div>
                <div class="col-xs-6">
                    <label>Wydane punkty: </label> {{-client.SumaPunktowUjemnychZatwierdzonych}} ( {{client.SumaPunktowUjemnych}} )*
                </div>
            </div>
            <div class="comment">* W nawiasie zostały podane punkty, które nie zostały jeszcze zatwierdzone</div>
            <div class="client-header">Historia wpływów</div>
            <table class="table document-table" style="overflow: auto;">
                <thead>
                    <tr>
                        <td style="width: 90px">Data</td>
                        <td>Opis</td>
                        <td style="width: 60px">Ilość</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="document.Zatwierdzone ? 'row-confirmed' : 'row-not-confirmed'" ng-repeat="document in client.Dokumenty">
                        <td>
                            {{document.Data}}
                        </td>
                        <td>
                            {{document.Opis}}
                        </td>
                        <td ng-class="document.Ilosc > 0 ? 'cell-positive' : (document.Ilosc < 0 ? 'cell-negative' : '')">
                            {{document.Ilosc}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6 div-my-points">
            <canvas class="pointChart" style="height: 100%;" ng-show="client.StanKonta != 0"></canvas>
            <div class="empty-message" ng-show="client.StanKonta == 0">Brak wpływów na konto</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 div-client-points">
            <div class="client-header">Twoja sieć</div>
            <div class="empty-message" ng-if="poleceni.length == 0">Nie masz jeszcze sieci poleconych</div>
            <div class="accordion" id="accordionExample">
                <div class="card" ng-repeat="client in poleceni">
                    <div class="card-header polecony" id="headingOne" data-toggle="collapse" data-target="#collapse_{{$index}}" aria-expanded="false" aria-controls="collapse_{{$index}}">
                        <div class="client-points" data-target="tooltip" title="Stan konta">
                            {{client.Nazwisko}} <span class="glyphicon glyphicon-piggy-bank"></span> <label>{{client.ZatwierdzonePunktyPoleconego || 0}} ({{client.Punkty || 0}})</label>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="collapse_{{$index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table statistic-table" style="width: 100%">
                                <caption>Dokumenty poleconego</caption>
                                <thead>
                                    <tr>
                                        <td style="width: 90px">Data</td>
                                        <td>Opis</td>
                                        <td style="width: 60px">Ilość</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="document.Zatwierdzone ? 'row-confirmed' : 'row-not-confirmed'" ng-repeat="document in client.DokumentyPoleconego">
                                        <td>
                                            {{document.Data}}
                                        </td>
                                        <td>
                                            {{document.Opis}}
                                        </td>
                                        <td ng-class="document.Ilosc > 0 ? 'cell-positive' : (document.Ilosc < 0 ? 'cell-negative' : '')">
                                            {{document.Ilosc}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table statistic-table" ng-if="client.DokumentyPoleconychPoleconego.length > 0">
                                <caption>Dokumenty struktury poleconego</caption>
                                <thead>
                                    <tr>
                                        <td style="width: 90px">Data</td>
                                        <td>Opis</td>
                                        <td style="width: 60px">Ilość</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="document.Zatwierdzone == 1 ? 'row-confirmed' : 'row-not-confirmed'" ng-repeat="document in client.DokumentyPoleconychPoleconego">
                                        <td>
                                            {{document.Data}}
                                        </td>
                                        <td>
                                            {{document.Opis}}
                                        </td>
                                        <td ng-class="document.Ilosc > 0 ? 'cell-positive' : (document.Ilosc < 0 ? 'cell-negative' : '')">
                                            {{document.Ilosc}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>