<div class="container">
    <h1>Moje zamówienia</h1>
    <div class="errors"></div>
    <table id="order_table" class="data-table">
        <thead>
            <tr>
                <th class="col-xs-4">Zamówienie</th>
                <th class="col-xs-3">Wiadomość</th>
                <th class="col-xs-2">Wartość</th>
                <th class="col-xs-3">Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <script src='/scripts/order.js'></script>
    </table>
</div>