<div class="container">
    <h1>{{order.Nagroda}}</h1>
    <div class="errors"></div>
    <form>
        <input type="hidden" ng-value="order.Id">
        <input type="hidden" ng-model="order.Id_nagrody">
        <div class="form-group">
            <label for="clientName">Imię i nazwisko</label>
            <input type="text" name="order_nazwa" id="order_nazwa" ng-model="order.Nazwa" ng-required="1" class="form-control">
        </div>
        <div class="form-group">
            <label for="order_adres">Adres</label>
            <textarea id="order_adres" rows="10" ng-model="order.Adres" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="prize_wiadomosc">Wiadomość dotycząca wybranej nagrody</label>
            <textarea id="prize_wiadomosc" ng-model="order.Wiadomosc" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <div class="input-group">
                <button ng-click="update()" class="btn btn-info">Zapisz</button>
            </div>
        </div>
    </form>
    <script>
    </script>
</div>