<div class="container client-prizes">
    <div class="client-prize-container col-md-3" ng-click="goToDetails(prize.Id)" ng-repeat="prize in prizes">
        <div class="client-prize-img-container">
            <img class="client-prize-img" ng-src="{{prize.Obraz_url}}">
        </div>
        <div class="client-prize-name">{{prize.Nazwa}}</div>
        <div class="client-prize-desc js_ellipsis">{{prize.Opis_skrot}}</div>
        <div class="client-prize-price">{{prize.Cena}}</div>
    </div>
</div>