<div class="container">
    <div class="prize-details-container">
        <div class="prize-details-name">
            {{prize.Nazwa}}
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="prize-details-img">
                    <img class="client-prize-img" ng-src="{{prize.Obraz_url}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="prize-details-desc-short" ng-bind-html="prize.Opis_skrot">
                </div>
            </div>
            <div class="col-md-3 prize-details-price-container">
                <div class="prize-details-price">
                    {{prize.Cena}}
                </div>
                <br>
                <div ng-if="prize.Magazyn == 1" style="margin-left: 15px; margin-bottom: 15px;">
                    Stan magazynu: {{repository.Ilosc}}
                </div>
                <div class="prize-buttons">
                    <button class="btn btn-info" ng-if="prize.Magazyn == 0 || repository.Ilosc > 0" style="margin-left: 15px; margin-bottom: 15px;" ng-click="goToOrder(prize.Id)">Zamów</button>
                    <button class="btn btn-info" ng-if="prize.Magazyn == 1 && repository.Ilosc == 0" style="margin-left: 15px; margin-bottom: 15px;" disabled>Produkt jest niedostępny</button>
                </div>
            </div>
        </div>
        <div class="prize-details-desc-name">
            Szczegółowy opis
        </div>
        <div class="prize-details-desc-long" ng-bind-html="prize.Opis">
        </div>
    </div>
</div>