<div class="container">
    <br>
    <form role="form" ng-submit="update()">
        <div class="infos"></div>
        <div class="errors"></div>
        <div class="form-group">
            <label for="cardnumber">Numer karty klienta</label>
            <input type='text' name='cardnumber' class='form-control text-input' id='cardnumber' placeholder='Numer karty klienta' ng-model="user.Numer" ng-readonly="true">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type='text' name='email' class='form-control text-input' id='email' ng-model="user.Email" placeholder='Email' ng-readonly="true">
                </div>
                <div class="form-group">
                    <label for="imie">Imię</label>
                    <input type='text' name='imie' class='form-control text-input' id='imie' ng-model="user.Imie" placeholder='Imię' ng-required>
                </div>
                <div class="form-group">
                    <label for="nazwisko">Nazwisko</label>
                    <input type='text' name='nazwisko' class='form-control text-input' id='nazwisko' ng-model="user.Nazwisko" placeholder='Nazwisko' ng-required>
                </div>
                <div class="form-group">
                    <label for="telefon">Telefon</label>
                    <input type='text' name='telefon' class='form-control text-input' id='telefon' ng-model="user.Telefon" placeholder='Telefon' ng-required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="adres">Adres</label>
                    <textarea class="form-control client-adres" ng-model="user.Adres" placeholder="Adres" name="adres" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group pull-left">
            <div class="input-group">
                <button type="submit" class="btn btn-info">Zapisz</button> &nbsp;
            </div>
        </div>
    </form>
    <div class="form-group pull-left">
        <div class="input-group">
            <button type="button" ng-click="changePassword()" class="btn btn-info">Zmień hasło</button>
        </div>
    </div>
</div>